# Movie Data ETL Pipeline - Extract

This notebook will begin the ETL process by extracting the data from the 2 data sources (2 CSV files from Kaggle and 1 JSON file with data scraped from Wikipedia). We will also start the transform step by cleaning the data.

### Dependencies and data

The Wikipedia data was scraped from the movie pages on [Wikipedia](https://en.wikipedia.org/).

Download `movies_metadata.csv` and `ratings.csv` from the TMDB's movie dataset at the Kaggle link below. Move both files into the `data/raw/` directory.

Source: https://www.kaggle.com/rounakbanik/the-movies-dataset

In [1]:
# Dependencies
import os
import json
import re
import numpy as np
import pandas as pd

In [2]:
# Path to data directory
data_path = os.path.join('..', 'data')

# Paths to data files
kaggle_path = os.path.join('raw', 'movies_metadata.csv')
wiki_path = os.path.join('raw', 'wikipedia_movies.json')

# Full paths
kmovies_path = os.path.join(data_path, kaggle_path)
wmovies_path = os.path.join(data_path, wiki_path)
print(kmovies_path)
print(wmovies_path)

../data/raw/movies_metadata.csv
../data/raw/wikipedia_movies.json

In [3]:
# Kaggle movie metadata
kmovies_df = pd.read_csv(kmovies_path, low_memory=False)
kmovies_df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
# Wikipedia movie data
wmovies_df = pd.read_json(wmovies_path)
wmovies_df.head(2)

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Inspect cols
print(wmovies_df.columns.sort_values().tolist())

['Actor control', 'Adaptation by', 'Alias', 'Alma mater', 'Also known as', 'Animation by', 'Arabic', 'Area', 'Area served', 'Artist(s)', 'Attraction type', 'Audio format', 'Author', 'Based on', 'Biographical data', 'Bopomofo', 'Born', 'Box office', 'Budget', 'Camera setup', 'Cantonese', 'Characters', 'Children', 'Chinese', 'Cinematography', 'Closing date', 'Color process', 'Comics', 'Composer(s)', 'Coordinates', 'Country', 'Country of origin', 'Cover artist', 'Created by', 'Date premiered', 'Designer(s)', 'Developed by', 'Developer(s)', 'Dewey Decimal', 'Died', 'Directed by', 'Director', 'Distributed by', 'Distributor', 'Divisions', 'Duration', 'Edited by', 'Editor(s)', 'Ending theme', 'Engine', 'Engine(s)', 'Executive producer(s)', 'Family', 'Fate', 'Film(s)', 'Followed by', 'Format(s)', 'Formerly', 'Founded', 'Founder', 'Founders', 'French', 'Full name', 'Gender', 'Genre', 'Genre(s)', 'Genres', 'Gwoyeu Romatzyh', 'Hangul', 'Hanyu Pinyin', 'Headquarters', 'Hebrew', 'Height', 'Hepburn', 'Hokkien POJ', 'IPA', 'ISBN', 'Illustrator', 'Industry', 'Instruments', 'Japanese', 'Jyutping', 'Key people', 'LC Class', 'Label', 'Labels', 'Language', 'Length', 'Literal meaning', 'Literally', 'Mandarin', 'McCune–Reischauer', 'Media type', 'Mode(s)', 'Music', 'Music by', 'Name', 'Narrated by', 'Nationality', 'No. of episodes', 'No. of seasons', 'Novel(s)', 'Number of employees', 'OCLC', 'Occupation', 'Opening date', 'Opening theme', 'Operating income', 'Original language', 'Original language(s)', 'Original network', 'Original release', 'Original title', 'Original work', 'Other names', 'Owner', 'Pages', 'Parent', 'Parent(s)', 'Picture format', 'Place premiered', 'Platform(s)', 'Polish', 'Portrayed by', 'Preceded by', 'Predecessor', 'Produced by', 'Producer', 'Producer(s)', 'Production company', 'Production company(s)', 'Production location(s)', 'Productioncompanies ', 'Productioncompany ', 'Products', 'Programmer(s)', 'Publication date', 'Published', 'Published in English', 'Publisher', 'Publisher(s)', 'Recorded', 'Relatives', 'Release', 'Release date', 'Release(s)', 'Released', 'Replaced', 'Replaced by', 'Resting place', 'Revenue', 'Revised Romanization', 'Romanized', 'Running time', 'Russian', 'Screen story by', 'Screenplay by', 'Seasons', 'Series', 'Services', 'Set in', 'Setting', 'Simplified', 'Simplified Chinese', 'Species', 'Spouse(s)', 'Starring', 'Status', 'Story by', 'Subject', 'Subsidiaries', 'Suggested by', 'Television series', 'Text', 'Theme music composer', 'Total assets', 'Traditional', 'Traditional Chinese', 'Transcriptions', 'Type', 'Venue', 'Voices of', 'Wade–Giles', 'Website', 'Writer(s)', 'Written by', 'Yale Romanization', 'Years active', 'Yiddish', 'imdb_link', 'title', 'url', 'year']

Since the Wikipedia data is a lot messier than the Kaggle data, Reading the it in as a Pandas dataframe resulted in 193 columns and a lot of null values. Instead, we'll be reading this data in as JSON and cleaning it up before converting it to a dataframe.

In [6]:
# Wikipedia movie data
with open(wmovies_path, 'r') as f:
    wmovies = json.load(f)
    
print('Number of records:', len(wmovies))
print('Sample record:')
wmovies[0]

Number of records: 7311
Sample record:

{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
 'year': 1990,
 'imdb_link': 'https://www.imdb.com/title/tt0098987/',
 'title': 'The Adventures of Ford Fairlane',
 'Directed by': 'Renny Harlin',
 'Produced by': ['Steve Perry', 'Joel Silver'],
 'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
 'Story by': ['David Arnott', 'James Cappe'],
 'Based on': ['Characters', 'by Rex Weiner'],
 'Starring': ['Andrew Dice Clay',
  'Wayne Newton',
  'Priscilla Presley',
  'Lauren Holly',
  'Morris Day',
  'Robert Englund',
  "Ed O'Neill"],
 'Narrated by': 'Andrew "Dice" Clay',
 'Music by': ['Cliff Eidelman', 'Yello'],
 'Cinematography': 'Oliver Wood',
 'Edited by': 'Michael Tronick',
 'Productioncompany ': 'Silver Pictures',
 'Distributed by': '20th Century Fox',
 'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
 'Running time': '102 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$20 million',
 'Box office': '$21.4 million'}

### Filter for movies

There seem to be TV shows mixed into the data. To filter for movies, records must have a value for:
1. `imdb_link`
2. `Directed by`/`Director`
3. `Duration`/`Length`/`Running time`

Records should also NOT have a value for:
1. `No. of seasons`
2. `No. of episodes`

In [7]:
# Filter out tv shows
wmovies_filtered = [movie for movie in wmovies if 
                    ('imdb_link' in movie) and 
                    ('Directed by' in movie or 'Director' in movie) and 
                    ('Duration' in movie or 'Length' in movie or 'Running time' in movie) and 
                    ('No. of seasons' not in movie) and 
                    ('No. of episodes' not in movie)]
len(wmovies_filtered)

6936

In [8]:
# Convert to df
wmovies_df = pd.DataFrame(wmovies_filtered)
print(wmovies_df.shape)

# Inspect cols
wmovies_cols = wmovies_df.columns.sort_values()
wmovies_cols

(6936, 75)

Index(['Adaptation by', 'Also known as', 'Animation by', 'Arabic',
       'Audio format', 'Based on', 'Box office', 'Budget', 'Cantonese',
       'Chinese', 'Cinematography', 'Color process', 'Composer(s)', 'Country',
       'Country of origin', 'Created by', 'Directed by', 'Director',
       'Distributed by', 'Distributor', 'Edited by', 'Editor(s)',
       'Executive producer(s)', 'Followed by', 'French', 'Genre', 'Hangul',
       'Hebrew', 'Hepburn', 'Japanese', 'Label', 'Language', 'Length',
       'Literally', 'Mandarin', 'McCune–Reischauer', 'Music by', 'Narrated by',
       'Original language(s)', 'Original network', 'Original release',
       'Original title', 'Picture format', 'Polish', 'Preceded by',
       'Produced by', 'Producer', 'Producer(s)', 'Production company(s)',
       'Production location(s)', 'Productioncompanies ', 'Productioncompany ',
       'Recorded', 'Release date', 'Released', 'Revised Romanization',
       'Romanized', 'Running time', 'Russian', 'Screen story by',
       'Screenplay by', 'Simplified', 'Starring', 'Story by', 'Suggested by',
       'Theme music composer', 'Traditional', 'Venue', 'Voices of',
       'Written by', 'Yiddish', 'imdb_link', 'title', 'url', 'year'],
      dtype='object')

### Clean columns

Just by filtering out the TV shows, the data has been reduced to 75 columns. Let's take a look at a sample value for each column to get a better understanding of the data. Since there are a lot of missing values in most of the columns, the sample values will not all correspond to the same record.

In [9]:
# Sample val for each column
for col in wmovies_cols:
    # Print the first non-null val in the col
    print(col, ':', wmovies_df.loc[wmovies_df[col].notnull(), col].values[0])

Adaptation by : ['John L. Balderston', 'Paul Perez', 'Daniel Moore']
Also known as : Detonator II: Night Watch
Animation by : ['Andreas Deja', 'Gary Dunn', 'Deboissy Sylvain']
Arabic : قضية رقم ٢٣
Audio format : Stereo
Based on : ['Characters', 'by Rex Weiner']
Box office : $21.4 million
Budget : $20 million
Cantonese : ['Jip', '6', 'Man', '6', 'Saam', '1']
Chinese : 摇滚藏獒
Cinematography : Oliver Wood
Color process : Technicolor
Composer(s) : Richard Bellis
Country : United States
Country of origin : United States
Created by : ['John William Corrington', '(novel)']
Directed by : Renny Harlin
Director : Mark "Aldo" Miceli
Distributed by : 20th Century Fox
Distributor : NBC
Edited by : Michael Tronick
Editor(s) : ['Christopher Cooke', 'James Galloway']
Executive producer(s) : Rich Melcombe
Followed by : See below
French : Le Cinquième Élément
Genre : Thriller
Hangul : 원더풀 데이즈
Hebrew : פוֹקְסטְרוֹט
Hepburn : Omoide no Mānī
Japanese : 思い出のマーニー
Label : ['Warner Music Vision', 'Warner-Reprise Video', 'Maverick', 'Sire', 'Warner Bros.']
Language : English
Length : 117 mins
Literally : Marnie of [my] Memories
Mandarin : Xǐyàn
McCune–Reischauer : Wŏndŏp‘ul teijŭ
Music by : ['Cliff Eidelman', 'Yello']
Narrated by : Andrew "Dice" Clay
Original language(s) : English
Original network : NBC
Original release : February 11, 1990
Original title : ואלס עם באשיר
Picture format : Color
Polish : Zimna wojna
Preceded by : Psycho III
Produced by : ['Steve Perry', 'Joel Silver']
Producer : Marty Callner
Producer(s) : ['Susan Baerwald (executive producer)', 'Dan Wigutow (executive producer)', 'Daniel Franklin (co-producer)']
Production company(s) : NBC Productions
Production location(s) : ['Paramount Ranch - 2813 Cornell Road,', 'Agoura, California']
Productioncompanies  : ['Lightning Pictures', 'Mack-Taylor Productions', 'Precision Films']
Productioncompany  : Silver Pictures
Recorded : November 19, 1993
Release date : ['July 11, 1990', '(', '1990-07-11', ')']
Released : April 25, 1994
Revised Romanization : Wondeopul deijeu
Romanized : Qadiyya raqm 23
Running time : 102 minutes
Russian : Нелюбовь
Screen story by : Ian Watson
Screenplay by : ['David Arnott', 'James Cappe', 'Daniel Waters']
Simplified : 东宫西宫
Starring : ['Andrew Dice Clay', 'Wayne Newton', 'Priscilla Presley', 'Lauren Holly', 'Morris Day', 'Robert Englund', "Ed O'Neill"]
Story by : ['David Arnott', 'James Cappe']
Suggested by : ['Character from', 'Profumo di donna', 'by', 'Ruggero Maccari', 'Dino Risi']
Theme music composer : Laurence Rosenthal
Traditional : 喜宴
Venue : ['Sydney Cricket Ground', '(', 'Sydney, Australia', ')']
Voices of : See full below
Written by : Woody Allen
Yiddish : מנשה
imdb_link : https://www.imdb.com/title/tt0098987/
title : The Adventures of Ford Fairlane
url : https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane
year : 1990

We will be addressing a few things here:
1. There are a lot of columns holding alternate titles for the movies so we're going to group all of these together in the JSON data.
2. There are also a lot of redundant columns giving the same information, such as `Directed by` and `Director`. We'll be grouping these together as well.
3. The column names are inconsistent, so we will rename them for consistency.

In [10]:
# Keys holding alternate titles
title_keys = ['Also known as', 'Arabic', 'Cantonese', 'Chinese', 'French', 
              'Hangul', 'Hebrew', 'Hepburn', 'Japanese', 'Literally', 'Mandarin', 
              'McCune–Reischauer', 'Original title', 'Polish', 'Revised Romanization', 
              'Romanized', 'Russian', 'Simplified', 'Traditional', 'Yiddish']

# Key rename pairs (old name: new name)
keys_to_rename = {
    'Adaptation by': 'writers',
    'Animation by': 'animators',
    'Audio format': 'audio_format',
    'Based on': 'based_on',
    'Box office': 'box_office',
    'Budget': 'budget',
    'Cinematography': 'cinematographers',
    'Color process': 'color_process',
    'Composer(s)': 'composers',
    'Country': 'country',
    'Country of origin': 'country',
    'Created by': 'creators',
    'Directed by': 'director',
    'Director': 'director',
    'Distributed by': 'distributor',
    'Distributor': 'distributor',
    'Edited by': 'editors',
    'Editor(s)': 'editors',
    'Executive producer(s)': 'executive_producers',
    'Followed by': 'sequel',
    'Genre': 'genre',
    'Label': 'label',
    'Language': 'languages',
    'Length': 'duration',
    'Music by': 'composers',
    'Narrated by': 'narrator',
    'Original language(s)': 'languages', 
    'Original network': 'network', 
    'Original release': 'release_date',
    'Picture format': 'picture_format',
    'Preceded by': 'prequel',
    'Produced by': 'producers',
    'Producer': 'producers',
    'Producer(s)': 'producers',
    'Production company(s)': 'production_companies',
    'Production location(s)': 'production_locations',
    'Productioncompanies ': 'production_companies',
    'Productioncompany ': 'production_companies',
    'Recorded': 'recorded',
    'Release date': 'release_date',
    'Released': 'release_date',
    'Running time': 'duration',
    'Screen story by': 'writers',
    'Screenplay by': 'writers',
    'Starring': 'stars',
    'Story by': 'writers',
    'Suggested by': 'suggestors',
    'Theme music composer': 'composers',
    'Venue': 'venue',
    'Voices of': 'voicers',
    'Written by': 'writers',
    'imdb_link': 'imdb_link', 
    'title': 'title',
    'url': 'url', 
    'year': 'year'
}

len(title_keys), len(keys_to_rename)

(20, 55)

In [11]:
def clean_movie(movie_dict, title_keys=title_keys, keys_to_rename=keys_to_rename):
    
    """
    Clean movie dictionary with the following steps:
    1. combine all alternate titles into a single key
    2. rename keys for consistency and to consolidate similar columns into 1
    
    Parameters
    ----------
    movie_dict : dict
        Record to clean
    title_keys : list[str]
        Names of keys with the movie's alternate titles
    keys_to_rename : dict
        Mapping of old key name to new key name
    
    Returns
    -------
    Dict
        Clean movie dictionary
    """
    
    # Copy of movie dict and empty dict for alt titles
    movie_dict, alt_titles = dict(movie_dict), dict()
    
    # Add keys with alt titles to `alt_titles` and delete the original key
    for key in title_keys:
        if key in movie_dict:
            alt_titles[key.lower().replace(' ', '_')] = movie_dict.pop(key)
            
    # Add new key for alt titles
    if len(alt_titles):
        movie_dict['alternate_titles'] = alt_titles
        
    # Rename keys
    for old, new in keys_to_rename.items():
        if old in movie_dict:
            movie_dict[new] = movie_dict.pop(old)
        
    return movie_dict
            
    
# Test func
clean_movie(wmovies_filtered[849])

{'alternate_titles': {'mandarin': 'Xǐyàn', 'traditional': '喜宴'},
 'box_office': '$23.6 million',
 'budget': '$1 million',
 'cinematographers': 'Jong Lin',
 'country': ['Taiwan', 'United States'],
 'director': 'Ang Lee',
 'distributor': 'The Samuel Goldwyn Company',
 'editors': 'Tim Squyres',
 'languages': ['Mandarin Chinese', 'English'],
 'composers': 'Mader',
 'producers': ['Ang Lee', 'Ted Hope', 'James Schamus'],
 'production_companies': 'Good Machine',
 'release_date': ['4 August 1993', '(', '1993-08-04', ')', '(United States)'],
 'duration': '106 minutes',
 'stars': ['Ah-Leh Gua',
  'Sihung Lung',
  'May Chin',
  'Winston Chao',
  'Mitchell Lichtenstein'],
 'writers': ['Ang Lee', 'Neil Peng', 'James Schamus'],
 'imdb_link': 'https://www.imdb.com/title/tt0107156/',
 'title': 'The Wedding Banquet',
 'url': 'https://en.wikipedia.org/wiki/The_Wedding_Banquet',
 'year': 1993}

In [12]:
# Clean movie dictionaries
wmovies_clean = [clean_movie(movie) for movie in wmovies_filtered]

# Convert Wikipedia data to df
wmovies_df = pd.DataFrame(wmovies_clean)
print(wmovies_df.shape)

# Inspect cols
wmovies_df.columns.sort_values()

(6936, 38)

Index(['alternate_titles', 'animators', 'audio_format', 'based_on',
       'box_office', 'budget', 'cinematographers', 'color_process',
       'composers', 'country', 'creators', 'director', 'distributor',
       'duration', 'editors', 'executive_producers', 'genre', 'imdb_link',
       'label', 'languages', 'narrator', 'network', 'picture_format',
       'prequel', 'producers', 'production_companies', 'production_locations',
       'recorded', 'release_date', 'sequel', 'stars', 'suggestors', 'title',
       'url', 'venue', 'voicers', 'writers', 'year'],
      dtype='object')

### Drop duplicate rows

With the columns taken care of, let's inspect the data for duplicate records. The IMDB ID should be unique for each movie. The data does have the IMDB link, so we can extract the IMDB ID from that link.

In [13]:
# Inspect IMDB links
wmovies_df.loc[:1, 'imdb_link']

0    https://www.imdb.com/title/tt0098987/
1    https://www.imdb.com/title/tt0098994/
Name: imdb_link, dtype: object

In [14]:
# Extract IMDB ID from the link
wmovies_df['imdb_id'] = wmovies_df['imdb_link'].str.extract(r'(tt\d{7})')
wmovies_df.loc[:1, 'imdb_id']

0    tt0098987
1    tt0098994
Name: imdb_id, dtype: object

In [15]:
# Check for duplicate movies
wmovies_dup = wmovies_df.duplicated(subset=['imdb_id'], keep=False)
print(wmovies_dup.sum())
wmovies_df[wmovies_dup].sort_values('imdb_id').head(4)

83

,based_on,box_office,budget,cinematographers,country,director,distributor,editors,languages,composers,...,creators,prequel,suggestors,alternate_titles,label,recorded,venue,animators,color_process,imdb_id
23,"[Characters, by, H. P. Lovecraft]",NaN,NaN,Rick Fichter,United States,Brian Yuzna,50th Street Films,Peter Teschner,English,Richard Band,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099180
273,"[Characters, by, H. P. Lovecraft]",NaN,NaN,Rick Fichter,United States,Brian Yuzna,50th Street Films,Peter Teschner,English,Richard Band,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099180
199,NaN,$15.1 million,"[60 million, Norwegian Kroner]",Erling Thurmann-Andersen,"[Norway, Sweden, United States]",Nils Gaup,Buena Vista Pictures,Nils Pagh Andersen,English,Patrick Doyle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099816
611,NaN,$15.1 million,"[60 million, Norwegian Kroner]",Erling Thurmann-Andersen,"[Norway, Sweden, United States]",Nils Gaup,Buena Vista Pictures,Nils Pagh Andersen,English,Patrick Doyle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099816

In [16]:
# Drop duplicate movies
wmovies_df.drop_duplicates(subset=['imdb_id'], inplace=True)
wmovies_df.shape

(6894, 39)

### Drop columns with mostly missing values

There are a lot of columns that are missing most of their values, so there is no point in keeping them. We will be looking for and dropping columns with at least half of their values missing.

In [17]:
# Check cols where >= half of the vals are missing
cols_missing = wmovies_df.isnull().mean()
cols_missing50 = cols_missing[cols_missing >= 0.5]
cols_missing50

based_on                0.684798
narrator                0.959240
genre                   0.984624
network                 0.982594
audio_format            0.991297
executive_producers     0.986365
picture_format          0.991007
production_locations    0.993328
sequel                  0.998695
voicers                 0.999710
creators                0.998549
prequel                 0.998549
suggestors              0.999855
alternate_titles        0.996954
label                   0.999710
recorded                0.999710
venue                   0.999855
animators               0.999710
color_process           0.999855
dtype: float64

In [18]:
# Drop these cols and inspect remaining cols
wmovies_df.drop(cols_missing50.index, axis=1, inplace=True)
print(wmovies_df.shape)
wmovies_df.isnull().mean()

(6894, 20)

box_office              0.208297
budget                  0.315202
cinematographers        0.093560
country                 0.031912
director                0.000000
distributor             0.043951
editors                 0.070351
languages               0.010299
composers               0.067740
producers               0.025239
production_companies    0.231651
release_date            0.003626
duration                0.000000
writers                 0.026690
stars                   0.023934
imdb_link               0.000000
title                   0.000000
url                     0.000000
year                    0.000000
imdb_id                 0.000000
dtype: float64

### Inspect data types

With 20 columns remaining, let's check if their data types are appropriate.

In [19]:
# Inspect dtypes
wmovies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6894 entries, 0 to 6935
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   box_office            5458 non-null   object
 1   budget                4721 non-null   object
 2   cinematographers      6249 non-null   object
 3   country               6674 non-null   object
 4   director              6894 non-null   object
 5   distributor           6591 non-null   object
 6   editors               6409 non-null   object
 7   languages             6823 non-null   object
 8   composers             6427 non-null   object
 9   producers             6720 non-null   object
 10  production_companies  5297 non-null   object
 11  release_date          6869 non-null   object
 12  duration              6894 non-null   object
 13  writers               6710 non-null   object
 14  stars                 6729 non-null   object
 15  imdb_link             6894 non-null   object
 16  title                 6894 non-null   object
 17  url                   6894 non-null   object
 18  year                  6894 non-null   int64
 19  imdb_id               6894 non-null   object
dtypes: int64(1), object(19)
memory usage: 1.1+ MB

Columns that need to be recasted:
- `Release_date` - to datetime
- `Budget` - to numeric
- `Box_office` - to numeric
- `Duration` - to numeric

### Convert `release_date` to datetime type

The data contains lists, which are unhashable, so we'll need to join the list items into a single string before making the conversion.

In [20]:
def list_to_str(obj):
    
    """ Convert list to string if not already a string """
    
    return ' '.join(obj) if isinstance(obj, list) else obj


# Convert lists in `release_dates` to strs
release_date = wmovies_df['release_date'].apply(list_to_str)
# release_date.unique().tolist()

['July 11, 1990 ( 1990-07-11 )',
 'May 17, 1990 ( 1990-05-17 ) (Cannes Film Market) August 24, 1990 ( 1990-08-24 ) (United States)',
 'August 10, 1990 ( 1990-08-10 )',
 'December 25, 1990 ( 1990-12-25 )',
 'December 19, 1990',
 'March 22, 1990 ( 1990-03-22 )',
 'October 6, 1990 ( 1990-10-06 ) ( New York Film Festival )',
 'March 8, 1991 ( 1991-03-08 )',
 'March 7, 1990 ( 1990-03-07 )',
 'February 23, 1990 ( USA )',
 'June 8, 1990 ( 1990-06-08 )',
 'July 18, 1990 ( 1990-07-18 )',
 'October 5, 1990 ( 1990-10-05 ) (United States)',
 'December 20, 1990 (limited U.S.) January 11, 1991 (wide U.S.)',
 'May 25, 1990 ( 1990-05-25 )',
 'March 9, 1990',
 'March 2, 1990 ( 1990-03-02 )',
 'June 22, 1990 ( 1990-06-22 )',
 'May 18, 1990 ( 1990-05-18 )',
 'February 11, 1990',
 'October 12, 1990 ( 1990-10-12 )',
 'January 1990 ( 1990-01 ) ( Sundance Film Festival ) March 16, 1990 ( 1990-03-16 )',
 'December 21, 1990 ( 1990-12-21 )',
 'September 8, 1990 ( 1990-09-08 ) ( TIFF ) February 22, 1991 ( 1991-02-22 )',
 '1990 ( 1990 ) (Deauville Film Festival) January 18, 1990 ( 1990-01-18 ) (U.S.)',
 'September 23, 1990',
 'December 14, 1990 ( 1990-12-14 ) (United Kingdom) July 22, 1992 ( 1992-07-22 ) (United States)',
 'April 21, 1990 ( 1990-04-21 ) (USA) June 22, 1990 ( 1990-06-22 ) (UK)',
 'April 3, 1990 ( 1990-04-03 )',
 '1990 ( 1990 ) [1]',
 'May 1, 1990',
 'November 9, 1990 ( 1990-11-09 )',
 'November 2, 1990 ( 1990-11-02 ) (USA)',
 'January 31, 1990 ( 1990-01-31 )',
 '1988 ( 1988 )',
 'May 11, 1990',
 'September 28, 1990 ( 1990-09-28 )',
 'December 23, 1990 ( 1990-12-23 )',
 'March 9, 1990 ( 1990-03-09 )',
 'September 1990 ( 1990-09 )',
 'April 13, 1990 ( 1990-04-13 ) (U.S.)',
 'March 14, 1990 ( 1990-03-14 ) (Baltimore) April 6, 1990 ( 1990-04-06 ) (United States)',
 'May 4, 1990 ( 1990-05-04 )',
 'October 19, 1990 ( 1990-10-19 ) ( Uptown Theater ) November 9, 1990 ( 1990-11-09 ) (United States)',
 'August 24, 1990 ( 1990-08-24 )',
 'January 26, 1990 ( 1990-01-26 )',
 'June 27, 1990 ( 1990-06-27 )',
 'February 4, 1994 ( February 4, 1994 ) (United Kingdom) [1]',
 'June 10, 1990 ( 1990-06-10 )',
 'December 2, 1990',
 'May 11, 1990 ( 1990-05-11 )',
 'January 1990 ( 1990-01 )',
 'October 5, 1990 ( 1990-10-05 )',
 'June 14, 1990 ( 1990-06-14 ) (Lake Buena Vista) June 15, 1990 ( 1990-06-15 ) (United States)',
 'July 4, 1990',
 '1990 ( 1990 )',
 'January 12, 1990 ( 1990-01-12 )',
 'November 13, 1991 ( 1991-11-13 )',
 'August 3, 1990 ( 1990-08-03 )',
 'December 6, 1990 ( 1990-12-06 ) ( Los Angeles ) December 7, 1990 ( 1990-12-07 ) (United States)',
 'December 6, 1990 ( 1990-12-06 )',
 'April 6, 1990 ( 1990-04-06 )',
 'January 19, 1990 ( 1990-01-19 )',
 'August 17, 1990 ( 1990-08-17 )',
 'February 2, 1990 (United States)',
 'August 10, 1990 ( 1990-08-10 ) (United States)',
 'March 16, 1990 ( 1990-03-16 )',
 'March 23, 1990 ( 1990-03-23 )',
 'April 1990 ( 1990-04 ) (Houston International Film Festival)',
 'November 2, 1990 ( 1990-11-02 )',
 'July 20, 1990 ( 1990-07-20 )',
 'September 7, 1990 ( 1990-09-07 ) (U.S.)',
 'September 21, 1990 ( 1990-09-21 )',
 'July 13, 1990 ( 1990-07-13 )',
 'June 29, 1990 ( 1990-06-29 )',
 'October 17, 1989 ( 1989-10-17 ) (foreign video premiere) June 1, 1990 ( 1990-06-01 )',
 'April 24, 1989 ( 1989-04-24 ) (Houston Film Festival)',
 'December 20, 1990 ( 1990-12-20 ) (Beverly Hills) December 25, 1990 ( 1990-12-25 ) (United States)',
 'September 9, 1990 ( 1990-09-09 ) ( Venice ) September 19, 1990 ( 1990-09-19 ) (United States)',
 '25 December 1990 ( 1990-12-25 ) (United States) 31 January 1991 ( 1991-01-31 ) (Australia) 20 February 1991 ( 1991-02-20 ) (France) [1]',
 'June 15, 1990 ( 1990-06-15 )',
 'December 5, 1990 ( 1990-12-05 ) (US limited) January 4, 1991 ( 1991-01-04 ) (US wide)',
 'September 24, 1990',
 'April 27, 1990 ( 1990-04-27 )',
 'November 9, 1990',
 'March 18, 1991 ( 1991-03-18 )',
 'February 15, 1990 ( 1990-02-15 ) (West Germany) March 9, 1990 ( 1990-03-09 ) (U.S.)',
 'February 9, 1990 ( 1990-02-09 )',
 '14 September 1990 ( 1990-09-14 ) (US) 5 October 1990 ( 1990-10-05 ) (UK)',
 'December 14, 1990 ( 1990-12-14 )',
 'February 2, 1990 ( 1990-02-02 )',
 'September 24, 1986 ( 1986-09-24 ) ( Chicago International Film Festival ) January 5, 1990 ( 1990-01-05 ) (US)',
 'November 16, 1990 ( 1990-11-16 )',
 'July 6, 1988 ( 1988-07-06 )',
 'September 8, 1990 ( 1990-09-08 ) ( Toronto International Film Festival ) October 12, 1990 ( 1990-10-12 ) (US)',
 'March 2, 1990 ( 1990-03-02 ) (United States)',
 'August 8, 1990 ( 1990-08-08 )',
 '1990',
 'November 21, 1990 ( 1990-11-21 ) [1]',
 'November 18 – November 20, 1990',
 'July 6, 1990 ( 1990-07-06 )',
 'October 19, 1990 ( 1990-10-19 ) (New York City)',
 'November 14, 1990 ( 1990-11-14 )',
 'September 22, 1990',
 'November 20, 1989 ( 1989-11-20 ) (West Germany) August 22, 1990 ( 1990-08-22 ) (United States)',
 'August 31, 1990 (USA)',
 'January 11, 1991 ( 1991-01-11 )',
 '17 November 1989 ( 1989-11-17 ) ( Chicago ) 2 February 1990 ( 1990-02-02 ) (United States)',
 'February 16, 1990 ( 1990-02-16 ) (U.S.)',
 '20 April 1990 (USA)',
 'September 7, 1990 ( 1990-09-07 )',
 '4 September 1990 ( 1990-09-04 ) (United Kingdom) 12 October 1990 ( 1990-10-12 ) (United States)',
 'February 2, 1990',
 'May 1990 ( 1990-05 ) (France) January 18, 1991 ( 1991-01-18 ) (U.S.)',
 'April 13, 1990 ( 1990-04-13 )',
 'November 5, 1990 ( 1990-11-05 )',
 'April 20, 1990 ( 1990-04-20 )',
 'November 30, 1990 ( 1990-11-30 )',
 '1990 ( 1990 ) (UK) March 22, 1991 ( 1991-03-22 ) (U.S.)',
 'November 24, 1989 ( 1989-11-24 )',
 'December 17, 1990 ( 1990-12-17 )',
 'February 15, 1990 ( 1990-02-15 )',
 'May 19, 1990 ( 1990-05-19 ) June 16, 1998 ( 1998-06-16 ) (Lyrick Studios version)',
 'February 23, 1990',
 'September 1990 ( Venice ) November 23, 1990 ( 1990-11-23 )',
 'February 5, 1990 ( 1990-02-05 )',
 'September 21, 1990 ( 1990-09-21 ) (U.S.)',
 'October 25, 1990 ( 1990-10-25 ) (Germany) February 8, 1991 ( 1991-02-08 ) (United States)',
 'October 19, 1990 ( 1990-10-19 )',
 'February 16, 1990 ( 1990-02-16 )',
 'December 12, 1989 ( 1989-12-12 ) (Japan) January 1, 1990 ( 1990-01-01 ) (U.S.)',
 'January 25, 1990 ( 1990-01-25 )',
 'November 21, 1990 ( 1990-11-21 ) (United States) October 5, 1991 ( 1991-10-05 ) (United Kingdom)',
 'March 30, 1990 ( 1990-03-30 )',
 'September 13, 1990 ( 1990-09-13 ) ( Toronto ) [1] December 4, 1990 ( 1990-12-04 ) ( Princeton ) [1] January 1991 ( 1991-01 ) ( Sundance ) [1] [2] February 23, 1991 ( 1991-02-23 ) ( Berlin ) [1] March 13, 1991 ( 1991-03-13 ) ( NYC ) [1]',
 'June 27, 1991',
 'September 7, 1990',
 'September 14, 1990 ( 1990-09-14 )',
 'November 21, 1990 ( 1990-11-21 )',
 'July 25, 1990 ( 1990-07-25 ) (Los Angeles) July 27, 1990 ( 1990-07-27 ) (North America)',
 'March 23, 1990 ( 1990-03-23 ) (United States)',
 'July 27, 1990 ( 1990-07-27 )',
 'June 1, 1990 ( 1990-06-01 )',
 'November 10, 1990 ( 1990-11-10 )',
 'August 22, 1990',
 'April 27, 1990 ( 1990-04-27 ) (U.S.)',
 '17 October 1990',
 '9 September 1990 ( 1990-09-09 ) ( Toronto ) 9 November 1990 ( 1990-11-09 ) (UK)',
 'September 12, 1990 ( 1990-09-12 ) ( TIFF ) October 17, 1990 ( 1990-10-17 ) (Los Angeles) October 19, 1990 ( 1990-10-19 ) (United States)',
 '1991 ( 1991 )',
 'June 23, 1989 ( 1989-06-23 ) (with Honey, I Shrunk the Kids )',
 'December 7, 1990 ( 1990-12-07 )',
 '5 September 1990 ( 1990-09-05 ) ( Venice ) 12 September 1990 ( 1990-09-12 ) ( Toronto ) 8 February 1991 ( 1991-02-08 ) (United States) 24 May 1991 ( 1991-05-24 ) (United Kingdom)',
 '3 October 1990 ( 1990-10-03 ) (Norway) 1 March 1991 (United States) 1 August 1991 (Sweden)',
 'August 31, 1990',
 'October 26, 1990 ( 1990-10-26 )',
 nan,
 'September 9, 1990',
 'October 12, 1990',
 'February 23, 1990 ( 1990-02-23 ) (U.S.)',
 'March 5, 1990 ( 1990-03-05 )',
 'September 14, 1990 ( 1990-09-14 ) (United States)',
 '26 January 1990',
 '1989',
 '7 September 2001 (Turkey)',
 'June 1, 1990 ( 1990-06-01 ) (United States)',
 'January 22, 1990 (US)',
 '12 October 1990 ( 1990-10-12 ) (US)',
 '29 December 1993 ( 1993-12-29 ) (US)',
 'July 26, 1991 ( 1991-07-26 )',
 '2 November 1990',
 'October 7, 1990 ( 1990-10-07 )',
 '2 October 1990 ( 1990-10-02 )',
 'April 20, 1990',
 'December 22, 1989 (Italy) April 27, 1990 (United States)',
 'May 25, 1990 ( 1990-05-25 ) ( Cannes ) August 17, 1990 ( 1990-08-17 )',
 '25 May 1990 ( 1990-05-25 ) (United States) 24 August 1990 ( 1990-08-24 ) (United Kingdom)',
 'May 4, 1990 ( 1990-05-04 ) (New York City)',
 'August 1, 1990 ( 1990-08-01 )',
 'April 14, 1990 ( 1990-04-14 )',
 'November 1, 1991',
 'November 22, 1991 ( 1991-11-22 )',
 'November 8, 1991 ( 1991-11-08 ) (US) November 29, 1991 ( 1991-11-29 ) (UK)',
 'December 6, 1991 ( 1991-12-06 ) (United States)',
 'May 24, 1991 ( 1991-05-24 ) (United States)',
 'May 18, 1991 ( 1991-05-18 ) ( Cannes ) August 21, 1991 ( 1991-08-21 )',
 'September 29, 1991 ( 1991-09-29 ) ( New York Film Festival ) November 22, 1991 ( 1991-11-22 ) (United States)',
 'July 19, 1991',
 'August 9, 1991 ( 1991-08-09 )',
 'January 9, 1991 ( 1991-01-09 )',
 'August 2, 1991 ( 1991-08-02 )',
 '1991',
 'July 2, 1991 ( 1991-07-02 ) (Los Angeles) July 12, 1991 ( 1991-07-12 ) (United States)',
 'January 16, 1991 ( 1991-01-16 ) (Sweden) July 15, 1992 ( 1992-07-15 ) (United States)',
 'October 1991 ( 1991-10 ) ( Los Angeles ) January 1992 ( 1992-01 ) ( Sundance ) August 21, 1992 ( 1992-08-21 )',
 'February 1, 1991 ( 1991-02-01 ) (U.S.)',
 'December 13, 1991 ( 1991-12-13 )',
 'October 25, 1991 ( 1991-10-25 )',
 'October 7, 1992 ( 1992-10-07 ) (France) May 14, 1993 ( 1993-05-14 ) (Chicago)',
 'March 29, 1991 ( 1991-03-29 )',
 'February 10, 1991 ( 1991-02-10 )',
 '1991 ( 1991 ) ( Toronto )',
 'August 30, 1991 ( 1991-08-30 )',
 '1989 ( 1989 )',
 'October 11, 1991 ( 1991-10-11 ) ( Boston New York City )',
 'June 7, 1991 ( 1991-06-07 )',
 'March 15, 1991 ( 1991-03-15 )',
 'March 6, 1991 ( 1991-03-06 ) (U.S.) September 10, 1991 ( 1991-09-10 ) ( Toronto Festival of Festivals ) April 2, 1993 ( 1993-04-02 ) (Japan) June 1, 1994 ( 1994-06-01 ) (France) February 25, 1999 ( 1999-02-25 ) (Argentina)',
 '6 August 1991 ( 1991-08-06 ) (West Hollywood) 14 August 1991 ( 1991-08-14 ) (United States)',
 'September 6, 1991',
 'October 18, 1991 ( 1991-10-18 )',
 'January 1991 ( 1991-01 ) ( Sundance Film Festival ) September 10, 1991 ( 1991-09-10 ) ( Toronto Film Festival )',
 'August 23, 1991 ( 1991-08-23 ) (United States)',
 'September 27, 1991 ( 1991-09-27 )',
 'March 22, 1991 ( 1991-03-22 )',
 'August 23, 1991 ( 1991-08-23 )',
 'June 28, 1991',
 'August 2, 1991',
 'July 24, 1991 ( 1991-07-24 )',
 'September 13, 1991 ( 1991-09-13 )',
 'March 1, 1991 ( 1991-03-01 )',
 'May 24, 1991 ( 1991-05-24 ) (United States) October 11, 1991 ( 1991-10-11 ) (United Kingdom)',
 'July 19, 1991 ( 1991-07-19 )',
 'June 21, 1991 ( 1991-06-21 )',
 'February 1991 ( 1991-02 )',
 'October 11, 1991 ( Theatrical )',
 'January 18, 1991 ( 1991-01-18 ) (United States) August 7, 1991 ( 1991-08-07 ) (France) December 6, 1991 ( 1991-12-06 ) (Netherlands)',
 'September 25, 1991 ( 1991-09-25 ) (France) July 24, 1994 ( 1994-07-24 ) (U.S.)',
 'May 10, 1991 ( 1991-05-10 )',
 'December 20, 1991 ( 1991-12-20 )',
 'July 24, 1991 ( 1991-07-24 ) (France)',
 'September 20, 1991 ( 1991-09-20 )',
 'March 29, 1991 ( 1991-03-29 ) (U.S.) [5]',
 'January 18, 1991 ( 1991-01-18 )',
 'October 11, 1991 ( 1991-10-11 )',
 'December 27, 1991 ( 1991-12-27 )',
 'December 25, 1991 ( 1991-12-25 )',
 'April 5, 1991 ( 1991-04-05 )',
 'September 14, 1991 ( 1991-09-14 ) ( TIFF ) January 31, 1992 ( 1992-01-31 ) (U.S.)',
 'February 22, 1991 ( 1991-02-22 )',
 '27 December 1991',
 'November 27, 1991 ( 1991-11-27 )',
 'October 6, 1991 ( 1991-10-06 ) (U.S.)',
 '12 April 1991 ( 1991-04-12 ) (UK) 1 November 1991 ( 1991-11-01 ) (US)',
 'September 7, 1991 ( 1991-09-07 ) (Canada) April 24, 1992 ( 1992-04-24 ) (USA)',
 'October 9, 1991 ( 1991-10-09 ) (U.S.)',
 'December 11, 1991 ( 1991-12-11 )',
 'July 31, 1991 ( 1991-07-31 )',
 'September 7, 1991 ( 1991-09-07 ) (Canada) January 1992 ( 1992-01 ) (U.S.)',
 'October 23, 1991 ( 1991-10-23 )',
 'May 24, 1991 ( 1991-05-24 )',
 'August 1991 ( Locarno Film Festival )',
 'November 15, 1991 ( 1991-11-15 )',
 'February 15, 1991 ( 1991-02-15 )',
 '26 April 1991 ( 1991-04-26 ) (Los Angeles) 14 June 1991 ( 1991-06-14 ) (United Kingdom)',
 'February 8, 1991 ( 1991-02-08 )',
 'May 1, 1991 ( 1991-05-01 )',
 'October 18, 1991',
 'November 8, 1990 ( 1990-11-08 ) (UK)',
 'May 10, 1991 ( 1991-05-10 ) (limited release) May 24, 1991 ( 1991-05-24 ) (wide release)',
 'October 4, 1991',
 'June 6, 1990 ( 1990-06-06 ) (Philippines) [1] February 1, 1991 ( 1991-02-01 ) (United States)',
 'France : September 18, 1991 ( 1991-09-18 ) United Kingdom : January 17, 1992 ( 1992-01-17 ) United States : February 5, 1992 ( 1992-02-05 )',
 'April 19, 1991 ( 1991-04-19 )',
 'September 4, 1991 ( 1991-09-04 ) ( Venice ) September 29, 1991 ( 1991-09-29 ) (United States)',
 'August 16, 1991 ( 1991-08-16 )',
 'June 28, 1991 ( 1991-06-28 )',
 '27 December 1991 ( 1991-12-27 ) (United States) 24 April 1992 ( 1992-04-24 ) (United Kingdom)',
 'September 27, 1991 ( 1991-09-27 ) (United States)',
 'January 17, 1991 ( 1991-01-17 ) ( SFF ) March 8, 1991 ( 1991-03-08 ) (United States)',
 'December 12, 1991 ( 1991-12-12 )',
 'January 11, 1991',
 'February 15, 1991 ( 1991-02-15 ) (United States)',
 'April 12, 1991 ( 1991-04-12 )',
 'January 18, 1991',
 'May 3, 1991 ( 1991-05-03 )',
 'April 26, 1991 ( 1991-04-26 )',
 'October 18, 1991 ( 1991-10-18 ) (United States) November 15, 1991 ( 1991-11-15 ) (United Kingdom)',
 'April 12, 1991 ( 1991-04-12 ) (United States)',
 'October 4, 1991 ( 1991-10-04 )',
 'April 20, 1991',
 'November 8, 1990 ( 1990-11-08 ) ( BFI London Film Festival ) August 23, 1991 ( 1991-08-23 ) (United States)',
 'November 1, 1991 ( 1991-11-01 )',
 'March 31, 1991',
 'March 15, 1991',
 'July 10, 1991 ( 1991-07-10 ) (Westwood, California) July 12, 1991 ( 1991-07-12 ) (United States)',
 'January 11, 1991 ( 1991-01-11 ) ( Sundance ) April 5, 1991 ( 1991-04-05 ) (United States)',
 'July 3, 1991 ( 1991-07-03 )',
 'November 17, 1990 ( 1990-11-17 ) (United Kingdom) February 7, 1991 ( 1991-02-07 ) (United States)',
 'October 17, 1991 ( 1991-10-17 )',
 'September 6, 1991 ( 1991-09-06 ) ( TIFF ) September 30, 1991 ( 1991-09-30 ) ( NYFF ) October 4, 1991 ( 1991-10-04 ) (United States)',
 'July 12, 1991 ( 1991-07-12 )',
 'June 14, 1991 ( 1991-06-14 ) (United States)',
 'February 1, 1991 ( 1991-02-01 )',
 'December 22, 1991 ( 1991-12-22 )',
 'March 1991 ( 1991-03 )',
 'December 5, 1991 ( 1991-12-05 ) [1]',
 'January 30, 1991 ( 1991-01-30 ) (New York City) February 14, 1991 ( 1991-02-14 ) (United States)',
 'July 1990 ( 1990-07 ) (Austin premiere) July 5, 1991 ( 1991-07-05 )',
 'May 31, 1991 ( 1991-05-31 )',
 'December 6, 1991 ( 1991-12-06 )',
 'May 17, 1991',
 'June 13, 1991 ( 1991-06-13 ) (U.S.) September 4, 1992 ( 1992-09-04 ) (UK)',
 'November 8, 1991',
 'April 26, 1991',
 'August 16, 1991',
 'July 1, 1991 ( 1991-07-01 ) (Los Angeles) July 3, 1991 ( 1991-07-03 ) (United States)',
 'May 20, 1991 ( 1991-05-20 ) ( Cannes ) May 24, 1991 ( 1991-05-24 ) (United States)',
 'September 13, 1991 ( 1991-09-13 ) ( Toronto Festival of Festivals ) September 24, 1992 ( 1992-09-24 ) (U.S.)',
 '25 January 1990 25 October 1991 (US)',
 'May 5, 1991 ( 1991-05-05 )',
 '21 June 1991 ( 1991-06-21 ) (UK) 21 October 1991 ( 1991-10-21 ) (US)',
 'October 8, 1992 (Spain) October 9, 1992 (United States) October 12, 1992 (France)',
 '24 December 1992 (theatrical) 13 April 1993 (home video) 13 September 2011 (dvd)',
 'August 7, 1992 ( 1992-08-07 )',
 'November 25, 1992 ( 1992-11-25 )',
 'May 22, 1992 ( 1992-05-22 )',
 'March 13, 1992 ( 1992-03-13 )',
 'April 17, 1992 ( 1992-04-17 )',
 'November 20, 1992 ( 1992-11-20 )',
 'March 18, 1992 ( 1992-03-18 ) (Los Angeles) March 20, 1992 ( 1992-03-20 ) (United States) May 8, 1992 ( 1992-05-08 ) (France, United Kingdom)',
 "June 16, 1992 ( 1992-06-16 ) ( Mann's Chinese Theatre ) June 19, 1992 ( 1992-06-19 ) (United States)",
 'May 4, 1992 ( 1992-05-04 ) (U.S.)',
 'July 31, 1992 ( 1992-07-31 )',
 'April 3, 1992 ( 1992-04-03 ) (US) July 24, 1992 ( 1992-07-24 ) (UK)',
 '6 March 1992',
 'August 14, 1993 ( 1993-08-14 )',
 'September 4, 1992 ( 1992-09-04 )',
 'July 1, 1992 ( 1992-07-01 )',
 'April 17, 1992 ( 1992-04-17 ) (U.S.)',
 'November 13, 1992 ( 1992-11-13 )',
 'September 11, 1992 ( 1992-09-11 ) ( TIFF ) October 16, 1992 ( 1992-10-16 ) (United States)',
 'September 18, 1992 ( 1992-09-18 )',
 'November 1992, (Italy, Turin Film Festival) June 25, 1993 (USA) July 30, 1993 (UK) October 6, 1993 (USA, video premiere)',
 'December 18, 1992 ( 1992-12-18 ) (United Kingdom) December 25, 1992 ( 1992-12-25 ) (United States)',
 'October 21, 1992 ( 1992-10-21 ) (Germany) January 29, 1993 ( 1993-01-29 ) (U.S.)',
 '21 August 1992',
 '1992 ( 1992 )',
 'June 5, 1992 ( 1992-06-05 )',
 'October 16, 1992 ( 1992-10-16 )',
 'July 10, 1992 ( 1992-07-10 )',
 'May 8, 1992 ( 1992-05-08 )',
 'September 11, 1992 ( 1992-09-11 )',
 'May 17, 1992',
 'March 27, 1992 ( 1992-03-27 )',
 'August 14, 1992 ( 1992-08-14 )',
 'December 4, 1992 ( 1992-12-04 )',
 'October 23, 1992 ( 1992-10-23 )',
 'September 1992 ( 1992-09 ) ( Cinéfest ) September 18, 1992 ( 1992-09-18 ) ( TIFF ) October 1992 ( 1992-10 ) ( Chicago ) June 11, 1993 ( 1993-06-11 ) (U.S.)',
 'February 21, 1992',
 'April 10, 1992 ( 1992-04-10 ) (North America) August 27, 1992 ( 1992-08-27 ) (Australia)',
 'December 9, 1992 ( 1992-12-09 ) ( Westwood ) December 11, 1992 ( 1992-12-11 ) (United States) January 1, 1993 ( 1993-01-01 ) (United Kingdom)',
 'February 26, 1993 ( 1993-02-26 )',
 'February 7, 1992 ( 1992-02-07 ) (US)',
 'May 1, 1992',
 'December 11, 1992 ( 1992-12-11 )',
 'January 17, 1992 ( 1992-01-17 )',
 'October 23, 1992',
 'March 6, 1992 ( 1992-03-06 )',
 'October 2, 1992 ( 1992-10-02 )',
 'August 21, 1992',
 'January 10, 1992 ( 1992-01-10 )',
 'March 13, 1992 ( 1992-03-13 ) (US)',
 'December 25, 1992 ( 1992-12-25 )',
 'July 17, 1992 ( 1992-07-17 )',
 'August 28, 1992 ( 1992-08-28 )',
 'June 12, 1992 ( 1992-06-12 )',
 'September 14, 1992 ( 1992-09-14 ) ( TIFF ) September 18, 1992 ( 1992-09-18 ) (United States)',
 'January 1992 ( 1992-01 ) ( Sundance ) October 23, 1992 ( 1992-10-23 ) (New York City)',
 'September 25, 1992 ( 1992-09-25 )',
 'January 31, 1992 ( 1992-01-31 ) (U.S.)',
 'November 6, 1992 ( 1992-11-06 )',
 'September 17, 1992 ( 1992-09-17 ) ( Toronto Film Festival ) March 19, 1993 ( 1993-03-19 ) (U.S.)',
 'January 22, 1992 ( 1992-01-22 ) (Germany) January 22, 1993 ( 1993-01-22 ) (U.S.)',
 'August 26, 1992 ( 1992-08-26 ) (France) September 25, 1992 ( 1992-09-25 ) (United States)',
 'December 18, 1992 ( 1992-12-18 )',
 'April 29, 1992 ( 1992-04-29 ) (USA)',
 'May 15, 1992 ( 1992-05-15 )',
 'August 21, 1992 ( 1992-08-21 )',
 'May 1, 1992 ( 1992-05-01 ) [ citation needed ]',
 'December 30, 1992 ( 1992-12-30 ) (Limited) January 29, 1993 ( 1993-01-29 ) (United States) February 26, 1993 ( 1993-02-26 ) (United Kingdom)',
 'January 24, 1992 ( 1992-01-24 )',
 'November 13, 1992 ( 1992-11-13 ) (United States)',
 'February 19, 1993 (USA)',
 'May 1992',
 'November 18, 1992 ( 1992-11-18 )',
 'February 7, 1992 ( 1992-02-07 ) ( MIFF ) February 28, 1992 ( 1992-02-28 ) (United States)',
 '12 September 1992 ( 1992-09-12 ) ( TIFF ) 9 October 1992 ( 1992-10-09 ) (New York) 15 January 1993 ( 1993-01-15 ) (United States)',
 'July 17, 1992',
 'February 7, 1992 ( 1992-02-07 )',
 'December 1, 1991 ( 1991-12-01 ) (original TV air date) [1] 1992 ( 1992 ) (original VHS release)',
 'February 28, 1992 ( 1992-02-28 )',
 'June 1, 1992 ( 1992-06-01 )',
 'April 24, 1992',
 'September 30, 1992 ( 1992-09-30 )',
 'July 24, 1992 ( 1992-07-24 )',
 '1992',
 'September 23, 1992 ( 1992-09-23 )',
 '26 October 1992',
 'December 26, 1992 ( 1992-12-26 ) (Japan) January 29, 1993 ( 1993-01-29 )',
 'April 10, 1992 ( 1992-04-10 )',

Some of the dates in the data are actually ranges (ex. January 15 - 16, 1990). We will be removing the right limit of these date ranges and keeping the left limit. In other words, `January 15 - 16, 1990` would be transformed into `January 15, 1990`. After addressing this issue, there are 5 different formats the dates were recorded in:
1. (DD) (Month) (YYYY) - 01 January 1970
2. (Month) (DD), (YYYY) - January 01, 1970
3. (Month), (YYYY) - January, 1970
4. (YYYY)-(MM)-(DD) - 1970-01-01
5. (YYYY) - 1970

These formats are all parsable by Pandas, so we will be extracting these patterns from the date strings in order to convert them into datetime type.

In [23]:
# Select lower limit of date ranges
release_date = release_date.str.strip().str.replace(r' [-–—] \d\d?', '', regex=True)

In [26]:
# Date formats
date_format1 = r'(?:\d\d? )?[a-z]{3,9}(?: \d\d?)?,? \d{4}' # (DD) (Month) (YYYY) | (Month) (DD), (YYYY) | (Month), (YYYY)
date_format2 = r'\d{4}(?:\D\d\d?\D\d\d?)?' # (YYYY)-(MM)-(DD) | (YYYY)
date_formats = f'({date_format1}|{date_format2})' # date formats 1 and 2

# Check if there are any other dates not captured by these 2 patterns
release_date.dropna()[~release_date.dropna().str.contains(date_formats, flags=re.IGNORECASE)]

Series([], Name: release_date, dtype: object)

In [27]:
# Extract date from str
release_date = release_date.str.extract(date_formats, flags=re.IGNORECASE)[0]

# Convert date str to datetime type
wmovies_df['release_date'] = pd.to_datetime(release_date, infer_datetime_format=True)
wmovies_df['release_date'].isnull().sum()

25

### Convert `budget` to numeric

As with `release_date`, there are lists and ranges in the `budget` values, so we will convert any list to strings and reduce ranges to the lower limit the same way. In addition, `budget` also has citation brackets (ex. [1]) which we will removing as well.

In [28]:
# Convert lists in `budget` to strs
budget = wmovies_df['budget'].apply(list_to_str)

# Clean str and select lower limit of amount ranges
budget = budget.str.strip().str.replace(r'\[\s*(?:\w+\s*)*\]', '', regex=True) \
                           .str.replace(r'[-–—]\s?\$?\d+', '', regex=True)
# budget.unique().tolist()

['$20 million',
 '$6 million',
 '$35 million',
 '$12 million',
 '$25 million',
 nan,
 '$50 million',
 '$22 million',
 '$29 million',
 '$40 million',
 '$7 million',
 '$2,500,000 ',
 '$47 million',
 '$15 million',
 '$10 million',
 '$13 million',
 '$5.2 million',
 '$17.5 million',
 'US$18 million',
 '$4 million',
 '$16 million',
 '$60 million',
 '$6.5 million',
 '$18 million',
 '$46 million',
 '$70 million',
 '$10,000,000 (estimated)',
 '$19,000,000',
 '$11 million',
 '$500,000',
 '$10 million (estimated)',
 '$26 million',
 '$11.5 million',
 '$54 million',
 '$12.5 million',
 '$3 million',
 '$13,000,000',
 '£960,000  ($1.5 million)',
 '$110,000',
 '$2.5 million',
 '$30 million',
 '$5 million',
 '$9 million',
 'USD$ 9 million',
 'Unknown',
 '$23 million (estimated) ',
 '$225,000',
 '$14 million ',
 '$21 million',
 '$4.2 million',
 '$2,000,000 (estimated)',
 '$14 million',
 '$6,000,000',
 '$17 million',
 '$1.5 million',
 '$20 million ',
 '$6.5 million  ',
 '$42 million',
 '60 million Norwegian Kroner',
 'est. $350,000',
 '$43 million',
 '$250,000',
 '$5 million (estimated)',
 '$23 million',
 '$19 million',
 '$3.5 million',
 '$13.5 million',
 'A$13 million',
 '$24 million',
 '$ 80,000',
 '$36 million ',
 '$48 million',
 '$10,000,000',
 '$10,000,000 ',
 '$800,000',
 '$38 million',
 '$15,000,000 (U. S.)   or $18 million ',
 '$6.788 million (est.)',
 'US$ 65 million ',
 '$75 million',
 '$4.5 million',
 'US$ 5 million',
 '$8 million',
 'US$ 24 million',
 '$780,000',
 '$7.5 million',
 '$11,000,000',
 '$22 million ',
 '$23,000',
 '$27 million',
 '$450,720',
 '$94 million',
 '$16.5 million',
 '$350,000',
 '$7,000',
 '$39 million',
 '$28 million',
 '$1 million',
 '$49 million',
 '$80 million',
 '$18 million ',
 '$31 million',
 '$45 million',
 '$30 million ',
 '$55 million',
 '$33 million',
 '$1.3 million',
 '$11.7 million',
 '$20 million (estimate)',
 '$100,000',
 '$5,000,000',
 '$ 30 million',
 '$15.5 million',
 'BEF 1 million ( USD$ 33,000)',
 '$15,000,000',
 '$1.2.5 million',
 '$5,000,000 est.',
 '$2 million',
 '$1.4 million',
 '$250,000 (estimated)',
 '$7,000,000',
 '$350,000 ',
 '$1,000,000 (est.)',
 '$31 million  (equivalent to $51 million in 2018)',
 '$34 million',
 '$2.6 million',
 '$32 million',
 '$13 million ',
 '$125,000',
 '$ 70 million ',
 '$6.9 million',
 '$13,000,000 (Estimated)',
 '$44 million',
 '$14.6 million',
 '$35.1 million',
 '$19.5 million',
 '$700,000',
 '$10.5 million',
 '$63 million',
 '$8.5 million',
 '$85 million',
 '$8.2 million',
 '$6 million (estimated)',
 '$13.5 million ( est. )',
 '$6,000,000 (US)',
 'US$7 million',
 'US$250,000',
 '$0.8 million (estimated)',
 '$30 million (equivalent to $52.03 million in 2018)',
 '$900,000',
 '$4,500,000',
 '$11.2 million',
 '$500,000 (estimated)',
 '$3.2 million',
 '$10.7 million',
 '$15 million ',
 '$62 million',
 '$27,575 $230,000 (post)',
 '$45 million ',
 '$23 million  ',
 '$190,000',
 '$7.8 million',
 '$1 million (estimated)',
 '$55 million ',
 '$3,500,000',
 '$15,000 (estimated)',
 '$12,000',
 '$26     million',
 '$8,000,000 (approximately)',
 '$1,000,000 est.',
 '$630,000',
 '$ 3,000',
 '$24.5 million (equivalent to $41.41 million in 2018) ',
 '$2,500,000',
 '$40,000,000 (estimated) ',
 '$1,000,000 ',
 '$5.7 million',
 '$200,000',
 '$7.4 million',
 '$600,000',
 '$150,000 (approx)',
 '$100     million',
 '$3,883,000',
 '$29.5 million',
 '$52 million',
 '$100 million',
 '$12,000,000',
 '$65 million',
 '$28,000',
 '$53 million',
 '$98 million',
 '$90 million',
 '$50 million (estimated)',
 '$2.8 million',
 '$2,500,000 US (est.)',
 '$15 million (estimated)',
 'US$8,000,000 (estimated)',
 '$2,000,000',
 'HBO',
 '$6.1 million',
 '$68 million',
 '$3.8 million',
 '$6.4 million',
 '$150,000 (estimated)',
 '$11,000,000 (estimated)',
 '$9.5 million',
 '£6,000,000',
 '13 million',
 '$6.3 million',
 '$33.5 million',
 '$6 million ',
 '$172 million',
 '$ 24,000,000',
 '$3.3 million',
 '$4.1 million',
 '£2.8 million',
 '$3 million (estimated)',
 '$2.3 million',
 '$3,500,000 (estimated)',
 '$2,600,000 ',
 '$57 million',
 '$55 million (equivalent to $87.86 million in 2018)',
 '$3 million (est)',
 '$12,500,000',
 '$2,400,000',
 '$36 million',
 '$25,000,000',
 '$50,000',
 '$67 million',
 '$21.5 million',
 '$32 million (est.)',
 '$160,000 USD',
 '$3,000,000 (estimated)',
 '$14.5 million',
 '$9,000,000',
 '$6,000,000 (estimated)',
 'CAD2,000,000',
 '$8,000,000',
 '$13,000,000 (estimated)',
 '$375,000',
 '$92 million',
 '$4,000,000 (estimated)',
 '$1,000,000',
 '$300,000',
 '$1,300,000',
 '$1.75 million',
 '$ 15,000,000 (estimated)',
 '$4,000,000 ( NZD )',
 '$160 million',
 '$4.7 million',
 '$8,500,000',
 '$116 million',
 '$20,000,000',
 '$90 million     ',
 'PHP 85 million (estimated)',
 '$65,000',
 '$1,500,000',
 '102,888,900',
 '3,500,000 DM',
 '$8,000,000 (Estimated)',
 '$73 million',
 '$ 10,000,000 (approximately)',
 '₤2,300,874',
 '$5,765,562',
 '$20 million (estimated)',
 'A$16 million',
 'US$17,000,000 (estimated)',
 '$60 million  or $40 million ',
 '$110 million (official) $135 million (estimated) ',
 '$105 million',
 '$200 million',
 '$375,000 (estimated)',
 '$19 million (estimated)',
 '$2.7 million',
 '$60,000 (est)',
 'US$ 42    million  ',
 '$140 million',
 '$12 million (estimate)',
 '$120 million',
 '$8 million (estimated)',
 '$1,800,000 ',
 'US$15 million',
 '$70.5 million',
 '$18.5 million',
 '$130 million',
 '$2.2 million',
 '$95 million',
 'US$ 1 million',
 '$650,000',
 '$60,927',
 '$14 milion',
 '$75 million ',
 'USD$ 10,000,000 (est.)',
 '$2 million USD ',
 '$2,000,000 (est.)',
 '$1.1 million',
 '$23 million ',
 '$66 million',
 'US$16 million',
 '$5.25 million',
 '$34.2 million',
 '$60,000',
 '$82 million',
 '$ 38 million ',
 'CAD$ 31 million ( USD$ 15 million  )',
 'US$ 2,600,000',
 '₤6,350,000',
 '~ US$6,000,000',
 '$37 million',
 '$ 25 million ',
 '$7.2 million',
 '$64 million',
 '$35,000,000',
 '$115 million',
 '$105 million   million ',
 '$312,000',
 '$8,547',
 '$170 million',
 '$3.4 million',
 '$76 million',
 '$51 million',
 '$35 million  or $30 million ',
 '$93 million',
 '$127.5 million',
 '$83 million',
 '$63.6 million',
 '$103 million',
 '$123 million',
 '$7,300',
 '$136,000',
 '$3.1 million',
 '$8 million (est.)',
 '$125 million',
 '$84 million',
 '$ 3 million (est.)',
 '$110 million',
 '$4.3 million',
 '$1,800,000 (estimated)',
 '$15 million    million ',
 '$41.3 million',
 '$1.2 million',
 '$107 million',
 '$64.4 million',
 '$90 million    ',
 '$58 million',
 '$2.1 million',
 '$400,000',
 '$137 million',
 '$563,373',
 '$19.8 million',
 '$87 million',
 '$5.5 million',
 '$8.6 million',
 '$1.7 million',
 '$17.7 million',
 '$48 million (est) ',
 '$72 million',
 '$40,000',
 'US$1.2 million',
 '$48 million ',
 '$ 115 million ',
 '$102 million',
 '$1.8 million',
 '$41 million',
 '$75,000 (estimate)',
 '$450,000 (estimated)',
 '$10.6 million',
 '$17,000,000',
 '$59 million',
 '$7 million ',
 '€ 40 million',
 '$4,000,000',
 '$78 million',
 'US$ 30 million',
 '$139 million',
 '$150,000',
 'US$ 855,000 ',
 '€20.9 million  ($20.5 million)',
 '$11.8 million',
 '$88.3 million',
 '$1,500 (estimated)',
 '$83.5 million',
 '$ 400,000',
 '$81 million',
 '$109 million',
 '$9,000,000 USD',
 '$79 million',
 '$ 500,000',
 '$20,000',
 '$75.6 million',
 '$56 million',
 '$16,000,000',
 '$150 million',
 '$127    million',
 '$72.3 million',
 '$120,000,000',
 '$61 million',
 '$130.6 million',
 '$218.32',
 '$100.5 million',
 '$187.3 million ($167.3 million excluding production overhead)',
 '$12.6 million',
 '$155 million',
 '$4.6 million',
 '$105   million ',
 '~$60,000',
 '$850,000',
 '$150,000  $250,000  $1.5 million ',
 '$165 million',
 '$185 million',
 '$51.2 million',
 '$46,000,000',
 '$14,000,000',
 '$3,000,000',
 '$2.5 million ',
 '$750,000',
 '$450,000',
 '$180 million',
 '$2,000,000 ',
 '~ US$11,000,000',
 '$7,000,000 ',
 '$19.3 million',
 '< $8 million',
 '$4.8 million',
 '$126 million',
 '$207 million',
 '£4.2 million',
 '$9.6 million',
 '$25,000',
 '$2.4 million (estimated)',
 '$33.1 million',
 '$113 million',
 '$135 million',
 'CN¥156 million ( US$ 20 million)',
 '€24.6 million   ($32 million)',
 '$132 million',
 '$25 million ',
 'N/A',
 'US$29,000,000',
 '$ 2,800,000 (Estimate)',
 '$30,000',
 '760,000 USD',
 '$70,000 (estimated)',
 '$120 million ',
 '$1,000,000 (estimated)',
 'US$ 3,000,000',
 '$82.5 million',
 '$5.8 million',
 '€ 1 million (approx. USD$ 1.3 million)',
 '$3,500 (estimated)',
 '$149 million',
 '$16.8 million',
 '$349,999',
 '$11,300',
 '$12,500',
 '$18 million (est)',
 '$900,000 (estimated)',
 '$7,000,000 (US)',
 'USD $4,000,000',
 '$5,000,000 (estimate)',
 '$19.4 million',
 '$80 million ',
 '$225 million',
 '$20.5 million',
 '$ 105,000',
 '$8.7 million',
 'US$4 million',
 '$1,200,000 ',
 '$223 million (gross) $204 million (net)',
 '$72.5 million',
 '$2.4 million',
 '$210 million',
 'US $54,000',
 '$70.8 million',
 '$12.8 million',
 '$175 million',
 'US$35 million',
 '$10.2 million',
 '$25.3 million',
 '$6.5  .5 million ',
 '$25.7 million',
 'US$ 10 million',
 '19 crore',
 '$150 million (estimated)',
 '$7.3 million ',
 '$300 million',
 '$27.5 million',
 '$67.5 million',
 'US$58 million',
 '$167 million',
 '$185 million ',
 '£17 million',
 '$2,900,000 (estimated)',
 '£1.1 million (approx. $1.9 million)',
 '$145 million',
 '$10.8 million',
 'US$54 million',
 '$25.1 million',
 '$7,500,000',
 '$3,200,000',
 '$9.8 million',
 '$11,500,000',
 '$237 million  $9 million+ (re-release) ',
 'US$30 million',
 '$37.5 million',
 '$35 million ',
 '$250 million',
 '$3,000,000 (est.)',
 'US$18.5 million',
 'US$100,000',
 '€ 49 million  ( $ 70 million) ',
 '$4,789,700 ',
 '$23.6 million',
 '$2,500,000 (est.)',
 '$150     million',
 '$140     million',
 '$69 million',
 '$2.9 million',
 '$112 million',
 '$250 million (Shared with Part 2 )  ',
 '$120 million (gross) $100 million (net) ',
 '$117 million',
 '$20 million  ',
 '$38,000',
 '$85 million (gross)    $60 million (net) ',
 '$260 million',
 '$50.2 million',
 '$32.5 million',
 '$140.7 million',
 '$163 million',
 '$34.8 million',
 '$19.1 million',
 '$250 million (Shared with Part 1 )  ',
 '$6.6 million',
 '$ 56 million ',
 '$9,000',
 '$410.6 million (gross) $378.5 million (net) ',
 '$31.9 million',
 '$4.75 million',
 '$195 million',
 '$30    million',
 '$54.7 million',
 '$480,000',
 '$99.5 million',
 '£4 million',
 '$200 million ',
 '$44.5 million',
 '$220 million',
 '$6,000',
 '$1,100,000',
 '$ 6 million',
 '$840,000',
 '$146.7 million (gross) $128.5 million (net) ',
 '$250 million (gross)  $230 million (net) ',
 '$3.4 million (estimated)',
 '$325,000',
 'Less than $10 million',
 '$306.6 million (gross)  $263.7 million (net) ',
 'US$ 32 million ',
 '$215 million',
 '$12,000,000 (estimated)',
 '€14 million',
 '$2 million [unconfirmed - dead link]',
 '$135,000',
 '$18.2 million ',
 '$136.2 million',
 '$16,203',
 '$207,061',
 '$420,000',
 '$385,000',
 '$2 million (est.)',
 '$19.2 million',
 '$217 million',
 'US$ 10,000 ',
 '$4 million ',
 '$42,394',
 'Less than $1 million',
 '$69,000',
 '$5,678,370',
 '$725,000',
 '$130 million   ',
 'under $1 million',
 '$4.63 million',
 '$127 million',
 '$3.5 million ',
 '$190 million',
 '$25 million (gross)  $20.7 million (net) ',
 '$178 million',
 '$12 million (gross)  $8.5 million (net) ',
 '$50.5 million',
 '$1.5 Million',
 '$40.6 million',
 '$20 million (gross)  $16.4 million (net) ',
 '$235 million (gross)  $209 million ( net ) ',
 '$70,000',
 '$232.3 million (gross)  $195.9 million (net) ',
 '$11 million ',
 '$36 million (gross)  $30.5 million (net) ',
 '$13.2 million',
 '$6.5 million ',
 '$4 million (gross)  $2.9 million (net) ',
 '$24 million ',
 '€38.5 million $65 million (gross)  $54.7 million (net) ',
 '$176 million',
 '$74 million',
 '$50.1 million',
 'US$10 million',
 '$50.6 million',
 '$44 million (gross)  $31.7 million (net) ',
 '$1.9 million',
 '$444.2 million (gross)   $365.5 million (net) ',
 '£ 12 million ',
 '¥1.15 billion ( $10.5 million )',
 '$130.3 million',
 '$88 million',
 '$108 million',
 '$99 million',
 '$306 million (gross)    $258.6 million (net) ',
 'US$ 105 million  ',
 'US$ 36 million ',
 '$150 million ',
 '$177 million',
 '$31.5 million',
 '$250 million  ',
 '$27.4 million',
 '$40 million ',
 '$90 million (gross)  $71.4 million (net) ',
 '$175 million ',
 '$28.5 million',
 '$144 million',
 '$4.9 million',
 '$9.9 million',
 '$156 million (gross)  $110 million (net) ',
 '$265 million (gross)  $219.5 million (net) ',
 '$6.2.4 million',
 '£3 million',
 '$97 million',
 '$230 million',
 '$890,000',
 '$5.3 million',
 '$100 million ',
 '€197 million (gross)  (~$209 million)  $177 million (net)   ',
 '$104 million',
 '$4.8 million ',
 '$2.5 million  ',
 '$111 million',
 '$84 million ',
 '$90.2 million',
 '£12.9 million',
 '$3.5  million',
 '3.5 crore',
 '$4.9 million ',
 '$5.1 million',
 '$10 million  ',
 '$65 million ',
 '919,000',
 '$8.6 millon',
 '$316 million',
 '$8 million US',
 '$275 million',
 '$162 million',
 '$75  million',
 '$51 million ',
 '$22.8 million',
 '$70 million (gross)   $59 million (net)  ',
 '$6.7 million',
 '€4.3 million']

It looks like 2 formats will capture most or all of the `budget` values:
1. \\$xxx.x mil - \\$100 million, \\$1.2 million
2. \\$xxx,xxx,xxx - \\$100,000,000, \\$20,000

In [29]:
# Budget formats
budget_format1 = r'\$?\s?\d{1,3}(?:\.\d+)?\s*mil' # $xxx.x mil
budget_format2 = r'\$?\s?\d{1,3}(?:,\d{3})+' # $xxx,xxx,xxx
budget_formats = f'({budget_format1}|{budget_format2})'

# Check formats
budget_contains = budget.dropna().str.contains(budget_formats, flags=re.IGNORECASE)
budget_to_na = budget.dropna()[~budget_contains].unique().tolist()
budget_to_na

['Unknown', 'HBO', '$218.32', 'N/A', '19 crore', '3.5 crore']

In [34]:
# Replace above vals with NaN
for val in budget_to_na:
    budget.replace(val, np.NaN, inplace=True)
budget.dropna()[~budget_contains]

Series([], Name: budget, dtype: object)

In [35]:
# Extract amount from str
budget = budget.str.extract(budget_formats, flags=re.IGNORECASE)[0]
# budget.unique().tolist()

['$20 mil',
 '$6 mil',
 '$35 mil',
 '$12 mil',
 '$25 mil',
 nan,
 '$50 mil',
 '$22 mil',
 '$29 mil',
 '$40 mil',
 '$7 mil',
 '$2,500,000',
 '$47 mil',
 '$15 mil',
 '$10 mil',
 '$13 mil',
 '$5.2 mil',
 '$17.5 mil',
 '$18 mil',
 '$4 mil',
 '$16 mil',
 '$60 mil',
 '$6.5 mil',
 '$46 mil',
 '$70 mil',
 '$10,000,000',
 '$19,000,000',
 '$11 mil',
 '$500,000',
 '$26 mil',
 '$11.5 mil',
 '$54 mil',
 '$12.5 mil',
 '$3 mil',
 '$13,000,000',
 '960,000',
 '$110,000',
 '$2.5 mil',
 '$30 mil',
 '$5 mil',
 '$9 mil',
 '$ 9 mil',
 '$23 mil',
 '$225,000',
 '$14 mil',
 '$21 mil',
 '$4.2 mil',
 '$2,000,000',
 '$6,000,000',
 '$17 mil',
 '$1.5 mil',
 '$42 mil',
 '60 mil',
 '$350,000',
 '$43 mil',
 '$250,000',
 '$19 mil',
 '$3.5 mil',
 '$13.5 mil',
 '$24 mil',
 '$ 80,000',
 '$36 mil',
 '$48 mil',
 '$800,000',
 '$38 mil',
 '$15,000,000',
 '$6.788 mil',
 '$ 65 mil',
 '$75 mil',
 '$4.5 mil',
 '$ 5 mil',
 '$8 mil',
 '$ 24 mil',
 '$780,000',
 '$7.5 mil',
 '$11,000,000',
 '$23,000',
 '$27 mil',
 '$450,720',
 '$94 mil',
 '$16.5 mil',
 '$7,000',
 '$39 mil',
 '$28 mil',
 '$1 mil',
 '$49 mil',
 '$80 mil',
 '$31 mil',
 '$45 mil',
 '$55 mil',
 '$33 mil',
 '$1.3 mil',
 '$11.7 mil',
 '$100,000',
 '$5,000,000',
 '$ 30 mil',
 '$15.5 mil',
 ' 1 mil',
 '2.5 mil',
 '$2 mil',
 '$1.4 mil',
 '$7,000,000',
 '$1,000,000',
 '$34 mil',
 '$2.6 mil',
 '$32 mil',
 '$125,000',
 '$ 70 mil',
 '$6.9 mil',
 '$44 mil',
 '$14.6 mil',
 '$35.1 mil',
 '$19.5 mil',
 '$700,000',
 '$10.5 mil',
 '$63 mil',
 '$8.5 mil',
 '$85 mil',
 '$8.2 mil',
 '$0.8 mil',
 '$900,000',
 '$4,500,000',
 '$11.2 mil',
 '$3.2 mil',
 '$10.7 mil',
 '$62 mil',
 '$27,575',
 '$190,000',
 '$7.8 mil',
 '$3,500,000',
 '$15,000',
 '$12,000',
 '$26     mil',
 '$8,000,000',
 '$630,000',
 '$ 3,000',
 '$24.5 mil',
 '$40,000,000',
 '$5.7 mil',
 '$200,000',
 '$7.4 mil',
 '$600,000',
 '$150,000',
 '$100     mil',
 '$3,883,000',
 '$29.5 mil',
 '$52 mil',
 '$100 mil',
 '$12,000,000',
 '$65 mil',
 '$28,000',
 '$53 mil',
 '$98 mil',
 '$90 mil',
 '$2.8 mil',
 '$6.1 mil',
 '$68 mil',
 '$3.8 mil',
 '$6.4 mil',
 '$9.5 mil',
 '6,000,000',
 '13 mil',
 '$6.3 mil',
 '$33.5 mil',
 '$172 mil',
 '$ 24,000,000',
 '$3.3 mil',
 '$4.1 mil',
 '2.8 mil',
 '$2.3 mil',
 '$2,600,000',
 '$57 mil',
 '$12,500,000',
 '$2,400,000',
 '$25,000,000',
 '$50,000',
 '$67 mil',
 '$21.5 mil',
 '$160,000',
 '$3,000,000',
 '$14.5 mil',
 '$9,000,000',
 '2,000,000',
 '$375,000',
 '$92 mil',
 '$4,000,000',
 '$300,000',
 '$1,300,000',
 '$1.75 mil',
 '$ 15,000,000',
 '$160 mil',
 '$4.7 mil',
 '$8,500,000',
 '$116 mil',
 '$20,000,000',
 ' 85 mil',
 '$65,000',
 '$1,500,000',
 '102,888,900',
 '3,500,000',
 '$73 mil',
 '$ 10,000,000',
 '2,300,874',
 '$5,765,562',
 '$17,000,000',
 '$110 mil',
 '$105 mil',
 '$200 mil',
 '$2.7 mil',
 '$60,000',
 '$ 42    mil',
 '$140 mil',
 '$120 mil',
 '$1,800,000',
 '$70.5 mil',
 '$18.5 mil',
 '$130 mil',
 '$2.2 mil',
 '$95 mil',
 '$ 1 mil',
 '$650,000',
 '$60,927',
 '$1.1 mil',
 '$66 mil',
 '$5.25 mil',
 '$34.2 mil',
 '$82 mil',
 '$ 38 mil',
 '$ 31 mil',
 '$ 2,600,000',
 '6,350,000',
 '$37 mil',
 '$ 25 mil',
 '$7.2 mil',
 '$64 mil',
 '$35,000,000',
 '$115 mil',
 '$312,000',
 '$8,547',
 '$170 mil',
 '$3.4 mil',
 '$76 mil',
 '$51 mil',
 '$93 mil',
 '$127.5 mil',
 '$83 mil',
 '$63.6 mil',
 '$103 mil',
 '$123 mil',
 '$7,300',
 '$136,000',
 '$3.1 mil',
 '$125 mil',
 '$84 mil',
 '$ 3 mil',
 '$4.3 mil',
 '$41.3 mil',
 '$1.2 mil',
 '$107 mil',
 '$64.4 mil',
 '$58 mil',
 '$2.1 mil',
 '$400,000',
 '$137 mil',
 '$563,373',
 '$19.8 mil',
 '$87 mil',
 '$5.5 mil',
 '$8.6 mil',
 '$1.7 mil',
 '$17.7 mil',
 '$72 mil',
 '$40,000',
 '$ 115 mil',
 '$102 mil',
 '$1.8 mil',
 '$41 mil',
 '$75,000',
 '$450,000',
 '$10.6 mil',
 '$59 mil',
 ' 40 mil',
 '$78 mil',
 '$139 mil',
 '$ 855,000',
 '20.9 mil',
 '$11.8 mil',
 '$88.3 mil',
 '$1,500',
 '$83.5 mil',
 '$ 400,000',
 '$81 mil',
 '$109 mil',
 '$79 mil',
 '$ 500,000',
 '$20,000',
 '$75.6 mil',
 '$56 mil',
 '$16,000,000',
 '$150 mil',
 '$127    mil',
 '$72.3 mil',
 '$120,000,000',
 '$61 mil',
 '$130.6 mil',
 '$100.5 mil',
 '$187.3 mil',
 '$12.6 mil',
 '$155 mil',
 '$4.6 mil',
 '$105   mil',
 '$850,000',
 '$165 mil',
 '$185 mil',
 '$51.2 mil',
 '$46,000,000',
 '$14,000,000',
 '$750,000',
 '$180 mil',
 '$19.3 mil',
 '$4.8 mil',
 '$126 mil',
 '$207 mil',
 '4.2 mil',
 '$9.6 mil',
 '$25,000',
 '$2.4 mil',
 '$33.1 mil',
 '$113 mil',
 '$135 mil',
 '156 mil',
 '24.6 mil',
 '$132 mil',
 '$29,000,000',
 '$ 2,800,000',
 '$30,000',
 '760,000',
 '$70,000',
 '$ 3,000,000',
 '$82.5 mil',
 '$5.8 mil',
 '$3,500',
 '$149 mil',
 '$16.8 mil',
 '$349,999',
 '$11,300',
 '$12,500',
 '$19.4 mil',
 '$225 mil',
 '$20.5 mil',
 '$ 105,000',
 '$8.7 mil',
 '$1,200,000',
 '$223 mil',
 '$72.5 mil',
 '$210 mil',
 '$54,000',
 '$70.8 mil',
 '$12.8 mil',
 '$175 mil',
 '$10.2 mil',
 '$25.3 mil',
 '5 mil',
 '$25.7 mil',
 '$ 10 mil',
 '$7.3 mil',
 '$300 mil',
 '$27.5 mil',
 '$67.5 mil',
 '$167 mil',
 '17 mil',
 '$2,900,000',
 '1.1 mil',
 '$145 mil',
 '$10.8 mil',
 '$25.1 mil',
 '$7,500,000',
 '$3,200,000',
 '$9.8 mil',
 '$11,500,000',
 '$237 mil',
 '$37.5 mil',
 '$250 mil',
 ' 49 mil',
 '$4,789,700',
 '$23.6 mil',
 '$150     mil',
 '$140     mil',
 '$69 mil',
 '$2.9 mil',
 '$112 mil',
 '$117 mil',
 '$38,000',
 '$260 mil',
 '$50.2 mil',
 '$32.5 mil',
 '$140.7 mil',
 '$163 mil',
 '$34.8 mil',
 '$19.1 mil',
 '$6.6 mil',
 '$ 56 mil',
 '$9,000',
 '$410.6 mil',
 '$31.9 mil',
 '$4.75 mil',
 '$195 mil',
 '$30    mil',
 '$54.7 mil',
 '$480,000',
 '$99.5 mil',
 '4 mil',
 '$44.5 mil',
 '$220 mil',
 '$6,000',
 '$1,100,000',
 '$ 6 mil',
 '$840,000',
 '$146.7 mil',
 '$325,000',
 '$306.6 mil',
 '$ 32 mil',
 '$215 mil',
 '14 mil',
 '$135,000',
 '$18.2 mil',
 '$136.2 mil',
 '$16,203',
 '$207,061',
 '$420,000',
 '$385,000',
 '$19.2 mil',
 '$217 mil',
 '$ 10,000',
 '$42,394',
 '$69,000',
 '$5,678,370',
 '$725,000',
 '$4.63 mil',
 '$127 mil',
 '$190 mil',
 '$178 mil',
 '$50.5 mil',
 '$1.5 Mil',
 '$40.6 mil',
 '$235 mil',
 '$232.3 mil',
 '$13.2 mil',
 '38.5 mil',
 '$176 mil',
 '$74 mil',
 '$50.1 mil',
 '$50.6 mil',
 '$1.9 mil',
 '$444.2 mil',
 ' 12 mil',
 '$130.3 mil',
 '$88 mil',
 '$108 mil',
 '$99 mil',
 '$306 mil',
 '$ 105 mil',
 '$ 36 mil',
 '$177 mil',
 '$31.5 mil',
 '$27.4 mil',
 '$28.5 mil',
 '$144 mil',
 '$4.9 mil',
 '$9.9 mil',
 '$156 mil',
 '$265 mil',
 '2.4 mil',
 '3 mil',
 '$97 mil',
 '$230 mil',
 '$890,000',
 '$5.3 mil',
 '197 mil',
 '$104 mil',
 '$111 mil',
 '$90.2 mil',
 '12.9 mil',
 '$3.5  mil',
 '$5.1 mil',
 '919,000',
 '$316 mil',
 '$275 mil',
 '$162 mil',
 '$75  mil',
 '$22.8 mil',
 '$6.7 mil',
 '4.3 mil']

With the patterns extracted, we can now parse these values in order to convert them to numeric type.

In [36]:
def parse_budget(s):
    
    """ Convert budget string to numeric """
    
    # Check if the input is NaN or already a float
    if isinstance(s, float):
        return s
    
    # Remove $, spaces, and commas
    s = re.sub(r'[\$\s,]', '', s).lower()
    
    # Convert to float
    if 'mil' in s:
        f = float(s.replace('mil', '')) * 1e6 # million
    else:
        f = float(s)
        
    return f


# Convert budget to float type
wmovies_df['budget'] = budget.apply(parse_budget)
wmovies_df['budget'].isnull().sum()

2182

### Convert box office to numeric

This will be pretty similar to `budget`, except there are no ranges to worry about. The formats will also be very similar except for the fact that instead of just "million", there are also values in thousands ("k") and "billion"s.

In [38]:
# Convert lists in `box_office` to strs
boxoffice = wmovies_df['box_office'].apply(list_to_str)
# boxoffice.unique().tolist()

['$21.4 million',
 '$2.7 million',
 '$57,718,089',
 '$7,331,647',
 '$6,939,946 (USA)',
 nan,
 '$855,810',
 '$195.3 million',
 '$53.2 million',
 '$15.7 million',
 '$52.1 million',
 '$244.5 million',
 '$12,626,043',
 '$19,740,070',
 '$138,697,012',
 '$1,292,323',
 '$8.2 million',
 '$15.6 million',
 '$2,070,871',
 '$27.6 million (United States)',
 '$10,173',
 '$5 million',
 '$35.8 million',
 'US$ 4,212,828',
 '$2.4 million',
 '$947,306',
 '$715,983',
 'US$13,236,513',
 '$8.3 million',
 '$1,373,728',
 '$424.2 million',
 '$48.8 million',
 '$157.9 million',
 '$2.2 million',
 '$6,698,361 ( United States ) [2]',
 '$2.7 million (US)',
 '$162.7 million',
 '$240 million',
 '$2,346,150',
 '$18.1 million',
 '$86 million',
 '$25 million',
 '$1,372,350',
 '$39 million',
 '$14,760,451',
 '$22,424,195 (USA)',
 '$6,488,144 (US) [1]',
 '$61.3 million',
 '$1,823,154',
 '$1,305,887',
 '$205,068',
 '$335.000',
 '$21,460,601',
 '$8.1 million',
 '$505.7 million',
 '$136.8 million',
 '$46.8 million',
 '$4.6 million',
 '$29.9 million',
 '$41.5 million',
 '$13,446,769',
 '$17 million',
 '$4,960,385',
 '$47.4 million',
 '$5,728,953 (US)',
 '$9,243,140',
 '$4,134,992',
 '$23.5 million',
 '$609,939 (US)',
 '$476.7 million',
 '$21.6 million (domestic)',
 '$1,293,976',
 '$26.4 million',
 '$200.5 million',
 '$4.35-4.37 million',
 '$16.2 million',
 '$27.7 million',
 '$26.1 million',
 '$20.3 million',
 '$39.4 million',
 '$202 million',
 '$2.5 million',
 'US$1,531,489 (domestic)',
 '$5.7 million',
 '$3,473,905 (USA)',
 '$24.3 million',
 'US$ 4,803,039',
 '$47.8 million',
 '$5,585,154',
 '$14 million',
 '$1.4 million',
 '$21,036,771 (U.S.)',
 '$58 million',
 '$129,778 (USA)',
 '$27 million (USA)',
 '$16,247,964 (USA)',
 '$6 million',
 '$139,155',
 '$35.4 million',
 '$2.9 million (USA)',
 '$9,888,167',
 '$1,464,242',
 '$16,153,600 (USA) (sub-total)',
 '$4,011,793',
 '$15,379,253',
 '$7,698,010',
 '$23.6 million',
 '$10,873,237',
 '$25.1 million',
 '$17.4 million',
 '$5.8 million',
 '$8.9 million',
 '$1.7 million',
 '$11,359,129',
 '$44.9 million',
 '$3,779,620',
 '$3,331 (USA)',
 '$39,071,603 (US)',
 '$57.1 million',
 '$221.3 million',
 '$463.4 million',
 '$72.2 million',
 '$11.5 million (United States)',
 '$11,207,891',
 '$15.3 million',
 '$21,413,105',
 '$15,535,771 (US)',
 '$15.4 million',
 '$45.7 million',
 '$1.3 million',
 '$119.9 million',
 '$21.6 million',
 '$739,104 (North America) [2]',
 '$15.1 million',
 '$3,417,056',
 '$4,010,647',
 '$152,982 (USA)',
 '$458,996 (USA)',
 '$17,854,930 (USA)',
 '$1.2 million (US) [1]',
 '$43,982',
 '$52,310',
 '$1,911,542',
 '$20,240,128',
 '$541,626',
 '$20 million',
 '$16.3 million',
 '$2.3 million',
 '$71.6 million',
 '$261.3 million',
 '$16,667,084',
 '$1,794,001',
 '$10 million',
 '$3,989,297',
 '$1,106,475',
 '$2 million',
 '$17,487,531',
 '$83,882',
 '$11,060,485',
 '$14.6 million (North America) [3]',
 '$44,143,410',
 '$2,120,564',
 '$191.5 million',
 '$14,812,144',
 '$40.8 million',
 '$2,865,916',
 '$1,342,903 (USA)',
 '$152.4 million',
 '$6.2 million',
 '$425 million',
 '$38 million (US) [2]',
 '$15.5 million',
 '$8,667,684',
 '$9,188,150',
 '$57.5 million (North America) [1]',
 '$49.1 million',
 '$9,689,816',
 '$6,220',
 '$182.3 million',
 '$11.3 million',
 '$20.5 million',
 '$1.3 million (US).',
 '$180 million',
 '$28,277,918',
 '$259,012',
 '$14.9 million',
 '$1,501,785',
 '$1.2 million',
 '$33.7 million',
 '$38,016,380 (US)',
 '$28.7 million',
 '$16.4 million',
 '$6,413,375 (USA)',
 '$5,546,827',
 '$54,830,779',
 '$38,120,905 (US)',
 '$394,631',
 '$34.4 million',
 '$80,500,000',
 '$14.8 million (domestic)',
 '$82,264,675',
 '$14.1 million',
 '$5,451,119',
 '$21.1 million',
 '$89.3 million',
 '$41.9 million',
 '$8,750,400',
 '$14,587,732',
 '$23.2 million',
 '$22.7 million (United States)',
 '$34.9 million',
 '$119.4 million',
 '$40,991,329 (worldwide)',
 '$9.48 million',
 '$306,319 (USA)',
 '$65.6 million',
 '$7,434,726 (United States)',
 '$9,804,775',
 '£739,989 (UK) [1] $4,413,473 (US) [1]',
 '$15.6 million (US)',
 '$4,654,288 ( US ) [1]',
 '$2,971,661 (US)',
 '$300.9 million',
 '$181.1 million',
 '$19,438,638',
 'US$17.2 million',
 '$7.8 million',
 '$191,125',
 '$583,979',
 '$205.4 million',
 '$90,000',
 '$43.9 million',
 '$1.1 million',
 '$52,487,045',
 '$28.9 million',
 '$59.5 million',
 '$133,645 (Domestic)',
 '$4.1 million',
 '$29,012,935',
 '$2.8 million',
 '$12.5 million',
 '$456,127',
 'US$485,772',
 '$7,308,786',
 '$20.2 million',
 '$18.8 million',
 '$6.4 million (North America) [1]',
 '$86.9 million',
 '$2.6 million',
 '$26.3 million (US)',
 '$47.6 million (US)',
 '$14,789,113',
 '$8.4 million',
 '$5,136,759',
 '$14,851,083',
 '$11 million',
 '$25,682,090',
 '$39,673,161',
 '$18,634,643 (Domestic)',
 '$267,265',
 '$31.4 million',
 '$14,061,361',
 'US$83.5 million',
 '$787,280',
 '$110 million',
 '$32.7 million',
 '$24.9 million',
 '$10.4 million (USA)',
 '$6.3 million',
 '$43,001,500 (US)',
 '$2,808,000',
 '$21,756,163',
 '$390.5 million',
 '$46.7 million [4] [3] (USA)',
 '$4 million',
 '$7.2 million',
 '$9,563,393 (US)',
 '$2,735,731',
 '$11,511,031',
 '$3,547,684',
 '$272.7 million',
 '$1,228,108',
 '$175 million',
 '$36,489,888',
 '$96.9 million',
 '$246,000',
 '$9.1 million',
 '$2,712,293',
 '$7,683,267 (domestic)',
 '$8 million',
 '$11,000,863',
 '$939,277 (US)',
 '$336,396',
 '$978,775',
 '$78.6 million (US)',
 '$523.7 million',
 '$45.4 million',
 '$110,505 (US)',
 '$15,073,942 (US) (sub-total)',
 '$418,807',
 '$4,693,236 (US)',
 '$349,618',
 '$63.7 million',
 '$34.8 million',
 '$1,008,404',
 '$7.3 million',
 '$1,182,273',
 '$59 million',
 '$29 million',
 '$504 million',
 '$159.8 million',
 '$13,086,430',
 '$6.4 million',
 '$19.9 million',
 '$352.9 million',
 '$266.8 million',
 '$147.2 million',
 '$3 million',
 '$4.5 million',
 '$411 million',
 '$131 million',
 '$918,239 (USA)',
 '$215.9 million',
 '$16.6 million',
 '$25.7 million (US)',
 '$22,518,097',
 '$222,552 (United States)',
 '$9.5 million',
 '$7 million (US)',
 '$13,272,113',
 '$21,591,800',
 '$14.1 million [ citation needed ]',
 '$3,052,738 (USA)',
 '$479,676',
 '$25,105,000',
 '$149 million',
 '$4,836,637',
 '$46,666,502',
 '$8,403,433',
 '$40.7 million',
 '$231,826',
 '$137.8 million',
 '$243.2 million',
 '$28.6 million',
 '$6,132,924',
 '$128 million',
 '$17,129,026',
 '$376,008 (USA)',
 '$9.2 million',
 '$10.7 million (North America) [2]',
 '$3,721,911',
 '$88 million',
 '$19.5 million',
 '$26,055',
 '$29.3 million',
 '$359 million',
 '$76 million',
 '$35,208,854',
 '$94,900,635',
 '$10.6 million',
 '$256,249',
 '$4.9 million',
 '$11,390,479',
 '$20.1 million',
 '$31.5 million',
 '$14.8 million (US)',
 '$75.5 million (North America) [2]',
 '$32.1 million (United States)',
 '$132.4 million',
 '$23.4 million',
 '$1,514,114',
 '$321.7 million',
 '$1,050,861',
 '$2,287,928',
 '$1,014,726',
 '$754,935',
 '$471,120 (USA)',
 '$48.2 million',
 '$6.7 million',
 'USD$205,569',
 '$4,096,030',
 '$45 million',
 '$14.4 million',
 '$1,526,697',
 '$50.7 million',
 '$1,102,469',
 '$40,227,006',
 '$311,245',
 '$20,883,046',
 '$13.3 million',
 '$27.2 million (North America) [3]',
 '$164.1 million',
 '$6,202,756',
 '$5.5 million',
 '$8,669,847',
 '$1.5 million',
 '$44 million (United States)',
 '$4,814,619',
 '$178 million',
 '$17.1 million',
 '$4,906,900',
 '$1.8 million',
 '$22,697,691',
 '$3,067,917',
 '$15,164,458',
 '$4,651,977',
 '$5000 (US)',
 '$37.1 million',
 '$14.4 million (US)',
 '$2,502,551',
 '$2.8 million (North America)',
 '$43 million',
 '$147,724',
 '$11,657,385',
 '$919,286',
 '$2,814 (USA)',
 '$134.1 million',
 '$14,715,067',
 'HK$2,662,446 (Hong Kong)',
 '$115,103',
 '$43.8 million',
 '$17,180,393',
 '$48,017,402',
 '$18.5 million',
 '$231.6 million',
 '$30.5 million',
 '$105.2 million',
 '$1,373,196',
 '$10.7 million (US)',
 '$70.6 million',
 '$422,503',
 '$21 million',
 '$12 million',
 '$340,147 (US sub-total)',
 '$20,473',
 '$2,922,094',
 '$22,660,758',
 '$3.6 million',
 '$23.3 million',
 '$13,747,138 70,542 admissions (France) [2]',
 '$4.2 million (North America) [2]',
 '$156.6 million',
 '$159.2 million',
 '$36.3 million (US) $102.1 million (Worldwide)',
 '$57,138,719 (US)',
 '$18 million',
 '$1,723,319 (United States)',
 '$183.1 million',
 '$390,152',
 '$11.1 million',
 '$90.8 million [2] (equivalent to $148.9 million in 2018)',
 '$9 million',
 '$5,519,569 (US)',
 '$2,791,515',
 '$1,468,300 (US)',
 '$48.9 million',
 '$24.1 million',
 '$32.3 million (US) [1]',
 '$2.9 million (domestic)',
 '$36.7 million',
 '$9.7 million',
 '$20,208,496',
 '$112,547 (USA) [1]',
 '$25.5 million',
 '$543,091',
 '$115,842 (USA)',
 '$23 million',
 '$6,044,652',
 '$57.4 million',
 '$4,496,583',
 '$764,724',
 'Domestic $428,868 [1]',
 '$10,058,318 (USA)',
 '$212,483',
 '$17,952,857',
 '$17.3 million',
 '$17,959,778',
 '$2 million (US)',
 '$63.8 million',
 '$6,011,745',
 '$255 million',
 '$21.3 million',
 '$154.9 million',
 '$41 million',
 '$13.6 million (United States)',
 '$23,671',
 '$1,497,222',
 '$63.3 million',
 '$8.0 million',
 '$18,369',
 '$159.1 million',
 '$117.2 million',
 '$63.5 million',
 '$296,081',
 '$1,152,117 (USA)',
 '$40.9 million',
 '$12.9 million',
 '$7,839,327',
 '$7 million',
 '$19.9 million (domestic)',
 '$270.2 million',
 '$9,488,998 (US)',
 '$ 11,146,270',
 '$153.6 million',
 '$368.9 million',
 '$18.6 million',
 '$12.7 million',
 '$5.1 million',
 '$60.6 million',
 '$70.9 million (North America) [2]',
 '$70.2 million',
 '$22.9 million',
 '$3.3 million',
 '$74.2 million',
 '$16.5 million',
 '$5.9 million',
 '$39.5 million',
 '$1,677,807',
 '$41.8 million',
 '$133.8 million',
 '$322,871',
 '$6,265,311 (US)',
 '$177 million',
 '$65.8 million',
 '$266.6 million',
 '$5,145,823',
 '$15.9 million (US)',
 '$1 million',
 '$32.9 million',
 '$12,136,999',
 '$914.6 million (original) $1.030 billion [2] (3D re-release)',
 '$137.3 million',
 '$8.6 million (US)',
 '$12,440,858',
 '$28 million',
 '$1,498,795',
 '$10,688,490 (USA)',
 '$104 million',
 '$46 million (domestic)',
 '$24.7 million',
 '$12.9 million (domestic)',
 '$11.2 million (United States)',
 '$27.9 million',
 '$8 million (domestic)',
 '$8,345,845',
 '$4.3 million',
 '$3,125,424 (USA)',
 '$441.3 million',
 '$36 million',
 '$27.4 million',
 '$1,038,959',
 '$15.2 million (US)',
 '$76.2 million',
 '$52.2 million',
 '$6.6 million',
 '$3,273,588 (US)',
 '$135.1 million',
 '$206.7 million',
 'US$140 million',
 '$27 million',
 '$30,038,362',
 '$18,289,763',
 '$6,484,246',
 '$54,207 (USA)',
 '$107.2 million',
 '$35.7 million',
 '$3.3 million (US)',
 '$56.5 million',
 '$148,919',
 '$608,866 (USA)',
 '$1.0 million',
 '$22.8 million',
 '$33.8 million',
 '$322.1 million',
 '$7,266,383',
 '$6.1 million',
 '$57.3 million (US)',
 '$227.9 million',
 '$116.3 million',
 '$18,994,653',
 '$11.5 million',
 '$150.1 million (equivalent to $260.33 million in 2018)',
 '$36,448,400',
 '$2,438,031',
 '$24 million (US)',
 '$20.9 million',
 '$5.6 million',
 '$42.2 million (United States)',
 '$1 million [1] (US)',
 '$4,104,962',
 '$53.9 million',
 '$5,495,507',
 '$56,505,065',
 '$101,071',
 '$12.3 million',
 '$12,324,660',
 '$19 million (US)',
 '$14,543,394',
 '$901,668',
 '$3.9 million (US)',
 '$9.3 million (US)',
 '$39,100,000',
 '$11.2 million',
 '$84,859',
 '$278,720',
 '$11,798,854 (Domestic)',
 '$19,623,396',
 '$16,192,320',
 '$5.8 million (domestic)',
 '$16,820,893',
 '$50.2 million',
 '$9.4 million',
 '$16.7 million',
 '$15,240,435 (US)',
 '$573,953 (US)',
 '$119.5 million',
 '$4,630,377',
 '$30.5 million (domestic) [2]',
 '$16,696,219',
 '$30,155,037 (USA) [2]',
 '$3,359,465 (USA)',
 '$4,352,094',
 '$13.4 million [ not verified in body ]',
 '$3.7 million',
 '$10,471,613 (US)',
 '$7.9 million',
 '$1.6 million',
 '$3,038,499 (USA, sub-total)',
 '$7.4 million (US)',
 '$3.2 million',
 '$117.6 million',
 '$7.4 million',
 '$1,007,600',
 '$19.7 million',
 '$11,391,093',
 '$13,642,861',
 '$50.7 million (US)',
 '$3,174,695',
 '$45.6 million',
 '$3,103,716',
 '$214 million',
 '$256,264',
 '$28,735,315',
 '$247.3 million',
 '$6,841,570',
 '$3,134,381',
 '$341.6 million',
 '$678.1 million [1]',
 '$ 50,004',
 '$8,094,616',
 '$30 million',
 '$18,869,594',
 '$2,408,311 (US sub-total)',
 '$395,105 (USA)',
 '$13,137,484',
 '$27,058,304',
 '$3.4 million (US)',
 '$12.3–$13.7 million (US)',
 '$713,234',
 '$11.8 million',
 '$19,281,235',
 '$61.9 million',
 '$26,381,221',
 '$89,611',
 '$9.9 million',
 '$28,881,266',
 '$8,880,705',
 '$21,355,893',
 '$223.7 million',
 '$37,939,757',
 '$60,822',
 '$20,851,521',
 '$3.8 million',
 '$108.4 million',
 '$9,979,683',
 '$5,842,603',
 '$160.6 million',
 '$968.5 million',
 '$12 million (US)',
 '$4,858,139 (USA)',
 '$19.3 million',
 '$1,095,885 (domestic)',
 '$67.3 million',
 '$50.1 million',
 '$18,272,894',
 '$35,200',
 '$29.4 million',
 '$30,626,182',
 '$112 million',
 '$351.6 million',
 '$183 million',
 '$18,137,661',
 '$2.7 million (US rentals)',
 '$6,821,850',
 '$16,453,258',
 '$2,144,667',
 '$25,479,558 (US)',
 '$70,936',
 '$51.1 million',
 '$50.3 million',
 '$106.7 million (equivalent to $180.36 million in 2018) [2]',
 '$15.8 million',
 '$7.1 million',
 '$38.6 million',
 '$4,330,020',
 '$13.7 million',
 '$48.4 million',
 '$126,247 (domestic)',
 '$11,669',
 '$3,062,530',
 '$213.9 million',
 '$8,647,042',
 '$24.8 million',
 '$305,070',
 '35,254,617',
 '$33,351,557',
 '$11,439,193',
 '$24,332,324',
 '$38.1 million',
 '$94.2 million',
 '$6,562,513',
 '$43.2 million',
 '$63,513',
 '$189.8 million',
 '$2,694,234',
 '$71,314',
 '$6,159,269',
 '$48 million',
 '$58.3 million',
 '$3,180,674',
 '$61,274',
 '$3,430,583',
 '$200,151',
 '$1,359,736',
 '$170,362,582 (international)',
 '$20,667,959',
 '$350.4 million',
 '$3,337,685',
 '$118 million',
 '$196.6 million',
 '$99,423,521',
 '$18.3 million',
 '$7,727,256',
 '$382,928',
 '$16,478,900 (US)',
 '$185,898',
 '$14,815,317',
 '$101.6 million',
 '$538,534',
 '$6,971,777',
 '$71,368',
 '$378.9 million',
 '$1,746,050',
 '$4.4 million',
 '$16,480,770',
 '$50.0 million',
 '$8,878,839 (US)',
 '$6,243,722',
 '$7,599,000',
 '$10,184,701',
 '$168.8 million',
 '$ 407,618 (U.S.) (sub-total) [1]',
 '$212.4 million',
 '$302,393',
 '$7,506,759',
 '$107.9 million',
 '$3.4 million',
 '$4.8 million',
 '$355.2 million',
 '$30.3 million (US) [3] $83.3 million worldwide [4]',
 '$254.1 million',
 '$9,685,976',
 '$141.4 million',
 '$3,674,841',
 '$336.5 million',
 '$5,750,110',
 '$17,725,500',
 '$1,268,636',
 '$3,730,409',
 '$23,440,188',
 '$46.6 million (US)',
 '$210.4 million',
 '$182 million',
 '$7.9 million (U.S. only)',
 '$12,096,673',
 '$178,104',
 '$13.9 million (US)',
 '$116.1 million',
 '$287.9 million',
 '$1,400,591',
 '$13,071,518',
 '$56.6 million',
 '$16,198',
 '$152 million',
 '$32 million',
 '$163.7 million',
 '$868,979',
 '$676,525 (USA) (sub-total)',
 '$2.57 million',
 '$179,519,401',
 '$83 million',
 '$24.1 million (domestic)',
 '$25.4 million',
 '$16.1 million',
 '$366.1 million',
 '$46.4 million',
 '$68 million',
 '$284,785',
 '$3,039,634 (USA and UK)',
 '$10.7 million',
 '$303,841 (United States)',
 '$11,534,477',
 '$11,642,945',
 '$76.6 million',
 '$127.6 million',
 '$3,987,768',
 '$33,177,694',
 '$4,257,354',
 '$102 million',
 '$28.2 million',
 '$532,268 52,088 admissions (France) [1]',
 '$1,110,104',
 '$115 million',
 '$6,029,091',
 '$35.3 million',
 '$3.9 million',
 '$71.5 million',
 '$57,100',
 '$7.5 million (domestic)',
 '$187.4 million',
 '$941,414',
 '$17.6 million',
 '$12,201,255',
 '$38.3 million',
 '$17.5 million',
 '$26,325,256',
 '$6.6 million (USA) [2]',
 '$8.9 million (domestic)',
 '$1,977,544 (US)',
 '$9.9 million (United States)',
 '$3,487,767',
 '$7.6 million',
 '$52,400,000 (Worldwide)',
 '$113.5 million',
 '$262.8 million',
 '$36.8 million',
 '$718,490',
 '$13.4 million (domestic)',
 '$20.4 million',
 '$14.9 million (US)',
 '$459,749',
 '$7,024,389',
 '$49.8 million',
 '$15,453,274',
 '$5,000',
 'US$2.68 million',
 '$30.1 million',
 '$2.1 million',
 '$40,070,995',
 '$209,935',
 '$1.8 million (domestic)',
 '$5,221,281',
 '$469,571',
 '$26 million',
 '$66.4 million',
 '$77.2 million',
 '$2,484,226',
 '$122.1 million',
 '$106,269,971',
 '$17,381,942',
 '$4,686,937 (Worldwide)',
 '$110.6 million',
 '$6,858,261',
 '$3,565,508',
 '$8 million (United States)',
 '$138.5 million',
 '$37.5 million',
 '$24,670,346',
 '$2,844,379 (United States)',
 '$6,834,525',
 '$3,983,912',
 '$2,832,826',
 '$5,269,757',
 '$1,238,905',
 '$346.1 million',
 '$30.9 million',
 '$18.6 million (US)',
 '$103,351',
 '$2,684,904',
 '$31.6 million',
 '$12,096,881',
 '$87.1 million',
 '$512,245',
 '$10,382,407',
 '$5,711,695',
 '$135 million',
 '$327.3 million',
 '$37.8 million',
 '$38 million',
 '$77.3 million (worldwide)',
 '$113.3 million',
 '$99,318',
 '$692,400',
 '$912,082',
 '$64 million',
 '$669,276',
 '$529,677',
 '$7,025,496',
 '$5,772,529 (domestic) [1]',
 '$23.9 million',
 '$373.6 million',
 '$26,282',
 '$536,023',
 '$2,875,086 (US)',
 '$19.8 million',
 '$9.4 million (domestic)',
 '$82 million',
 '$50 million',
 '$6,014,341',
 '$264.2 million',
 '$3,760,525 (US)',
 '$2,193,982',
 '$15,054,636',
 '$320.7 million',
 '$11,132,900',
 '$37,536',
 '$15,094,530',
 '$ 11,829,959',
 '$8.6 million',
 '$12.8 million',
 '$63.1 million (US)',
 '$27,315,527',
 '$8,797,839',
 '$14.2 million',
 '$13.4 million',
 '$185.3 million',
 '$32.4 million',
 '$560,069',
 '$782,641',
 '$516,350',
 '$2,654,308',
 '£3 million',
 '$4 million (USA) [3]',
 '$150.2 million',
 '$22.6 million',
 '$102.8 million',
 '$290,978',
 '$9,255,027 (domestic)',
 '$60,209,334',
 '$22.5 million',
 '$285,112',
 '$100.9 million',
 '$55.7 million',
 '$17.9 million (US)',
 '$7,343,114',
 '$49,620',
 '$2,084,559',
 '$7,138,523',
 '$20,109,115',
 '$37,553,752',
 '$115.3 million',
 '$9,871,065',
 '$4,422,330',
 '$31,387,164',
 '$22.2 million',
 '$232 million',
 '$242.3 million',
 '$12,767,815',
 '$9.8 million',
 '$141 million (equivalent to $225.25 million in 2018)',
 '$26.9 million',
 '$2,104,439',
 '$10,125,417',
 '$18.6 million (domestic gross)',
 '$20.8 million',
 '$3,124,440',
 '$26,491,793',
 '$181 million',
 '$17,193,231',
 '$20,080,020',
 '$14,702,438',
 '$56,143,818',
 '$269,300',
 '$295,493 (US) [2]',
 '$59.3 million',
 '$1,412,799 (worldwide)',
 '$5,691,854',
 '$197,322',
 '$75,019,405',
 '$13,323,144',
 '$20,351,264',
 '$660,313',
 '$4.7 million',
 '$41.2 million',
 '$222,559',
 '$26.6 million',
 '$5,009,305',
 '$9.3 million',
 '$21,302,121 [1] (US)',
 '$32,772,492',
 ...]

In [39]:
# Box office formats
boxoffice_format1 = r'\$?\s?\d{1,3}(?:\.\d+)?\s*[kmb]' # $xxx.x k/m/b
boxoffice_format2 = r'\$?\s?\d{1,3}(?:[\s\.,]?\d{3})+\$?' # $xxx,xxx,xxx
boxoffice_formats = f'({boxoffice_format1}|{boxoffice_format2})'

# Check formats
boxoffice_contains = boxoffice.dropna().str.contains(boxoffice_formats, flags=re.IGNORECASE)
boxoffice_to_na = boxoffice.dropna()[~boxoffice_contains].unique().tolist()
boxoffice_to_na

['N/A',
 '$309',
 'TBA',
 '$20-30',
 '£2.56',
 'Unknown',
 '$588',
 'less than $372',
 '8 crore']

In [40]:
# Replace above values with NaN
for val in boxoffice_to_na:
    boxoffice.replace(val, np.NaN, inplace=True)
boxoffice.dropna()[~boxoffice_contains]

Series([], Name: box_office, dtype: object)

In [41]:
# Extract amount from string
boxoffice = boxoffice.str.extract(boxoffice_formats, flags=re.IGNORECASE)[0]
# boxoffice.unique().tolist()

Special values to consider when parsing `box_office`:
1. Numbers ending with "k" (thousands) : \\$10 k = \\$10,000
2. Numbers ending with "m" (millions) : \\$10 m = \\$10,000,000
3. Numbers ending with "b" (billions) : \\$10 b = \\$10,000,000,000
4. Numbers using "." as a thousand-separator (instead of ",") : \\$10.000.000  = \\$10,000,000

In [42]:
def parse_boxoffice(s):
    
    """ Convert box office string to numeric """
    
    # Check if the input is NaN or already a float
    if isinstance(s, float):
        return s
    
    # Remove $, spaces, and commas
    s = re.sub(r'[\$\s,]', '', s).lower()
    
    # Convert to float
    if 'k' in s:
        f = float(s.replace('k', '')) * 1e3 # thousand
    elif 'm' in s:
        f = float(s.replace('m', '')) * 1e6 # million
    elif 'b' in s:
        f = float(s.replace('b', '')) * 1e9 # billion
    elif '.' in s:
        f = float(s.replace('.', '')) # for amounts using "." as a thousand-separator
    else:
        f = float(s)
        
    return f


# Convert budget to float type
wmovies_df['box_office'] = boxoffice.apply(parse_boxoffice)
wmovies_df['box_office'].isnull().sum()

1445

### Convert duration to numeric

Just like `budget`, `duration` contains lists, citation brackets, and ranges. We will removing these the same way we did with `budget`.

In [43]:
# Convert lists in `duration` to strings
duration = wmovies_df['duration'].apply(list_to_str)

# Clean string and select lower limit of amount ranges
duration = duration.str.strip().str.replace(r'\[\d\]', '', regex=True) \
                               .str.replace(r'[-–—]\s?\d+', '', regex=True)
# duration.unique().tolist()

There are a few different formats for the `duration`:
1. x hours xx m - 2 hours 22 minutes
2. xxx m - 100 minutes
3. xx hours - 10 hours
4. xx : xx - 10 : 10

In [44]:
# Duration formats
duration_format1 = r'(?:\d\s*ho?u?r?s?\s*)?\d{1,3}\s*m' # x hours xx m | xxx m
duration_format2 = r'\d\s*ho?u?r?s?|\d{1,2}\s*\:\s*\d{1,2}' # xx hours | xx : xx
duration_formats = f'({duration_format1}|{duration_format2})'

# Check formats
duration_contains = duration.dropna().str.contains(duration_formats, flags=re.IGNORECASE)
duration_to_na = duration.dropna()[~duration_contains].unique().tolist()
duration_to_na

['varies', 'minutes']

In [45]:
# Replace above values with NaN
for val in duration_to_na:
    duration.replace(val, np.NaN, inplace=True)
duration.dropna()[~duration_contains]

Series([], Name: duration, dtype: object)

In [47]:
# Extract duration from string
duration = duration.str.extract(duration_formats, flags=re.IGNORECASE)[0]
duration.unique().tolist()

['102 m',
 '114 m',
 '113 m',
 '106 m',
 '95 m',
 '100 m',
 '99 m',
 '50 m',
 '93 m',
 '110 m',
 '126 m',
 '121 m',
 '118 m',
 '90 m',
 '94 m',
 '190 m',
 '85 m',
 '96 m',
 '97 m',
 '32 m',
 '98 m',
 '84 m',
 '101 m',
 '86 m',
 '138 m',
 '91 m',
 '181 m',
 '108 m',
 '120 m',
 '111 m',
 '103 m',
 '105 m',
 '124 m',
 '30 m',
 '82 m',
 '74 m',
 '81 m',
 '87 m',
 '107 m',
 '128 m',
 '83 m',
 '162 m',
 '145 m',
 '92 m',
 '88 m',
 '109 m',
 '140 m',
 '136 m',
 '130 m',
 '135 m',
 '115 m',
 '192 m',
 '89 m',
 '129 m',
 '75 m',
 '78 m',
 '127 m',
 '119 m',
 '132 m',
 '77 m',
 '117 m',
 '104 m',
 '7 m',
 '80 m',
 '134 m',
 '60 m',
 '200 m',
 '25 m',
 '189 m',
 '137 m',
 '112 m',
 '122 m',
 '141 m',
 '188 m',
 '116 m',
 '143 m',
 '79 m',
 '148 m',
 '72 m',
 '187 m',
 '76 m',
 '202 m',
 '51 m',
 '67 m',
 '23 m',
 '57 m',
 '123 m',
 '156 m',
 '150 m',
 '49 m',
 '69  m',
 '131 m',
 '139 m',
 '142 m',
 '180 m',
 '144 m',
 '154 m',
 '254 m',
 '133 m',
 '71 m',
 '125 m',
 '195 m',
 '79    m',
 '73 m',
 '39 m',
 '69 m',
 '445 m',
 '35 m',
 '48 m',
 '398 m',
 '53 m',
 '170 m',
 '70 m',
 '21 m',
 '40 m',
 '183 m',
 '178 m',
 '38 m',
 '185 m',
 '175 m',
 '210 m',
 '25 : 03',
 '225 m',
 '250 m',
 '62 m',
 '11 m',
 '56 m',
 '167 m',
 '176 m',
 '158 m',
 '1hr 35m',
 '36 m',
 '22 m',
 nan,
 '95 M',
 '242 m',
 '240 m',
 '90 M',
 '172 m',
 '147 m',
 '28 m',
 '58 m',
 '149 m',
 '173 m',
 '92 M',
 '14 m',
 '155 m',
 '20 m',
 '5 m',
 '153 m',
 '186 m',
 '360 m',
 '12 m',
 '177 m',
 '7 M',
 '184 m',
 '151 m',
 '1 h 43 m',
 '169 m',
 '157 m',
 '168 m',
 '159 m',
 '146 m',
 '246 m',
 '61 m',
 '8 m',
 '41 m',
 '164 m',
 '152 m',
 '1h 48m',
 '161 m',
 '179 m',
 '165 m',
 '66 m',
 '219 m',
 '86 M',
 '55 m',
 '163 m',
 '208 m',
 '4 hours',
 '106 M',
 '42 m',
 '70m',
 '160 m',
 '191 m',
 '257 m',
 '166 m',
 '45 m',
 '43 m',
 '19 m',
 '128  m',
 '63 m',
 '1 hour 32 m',
 '103 M',
 '68 m',
 '97 M',
 '65 m']

In [49]:
def parse_duration(s):
    
    """ Convert duration string to integer """
    
    # Check if the input is NaN or already a float
    if isinstance(s, float):
        return s
    
    # Remove seconds
    s = re.sub(r'\:\s*\d{1,2}', '', s)
    
    # Remove "m" and spaces
    s = re.sub(r'm|\s', '', s, flags=re.IGNORECASE)
    
    # Convert to int
    match = re.search(r'(\d)(ho?u?r?s?)(\d\d?)?', s, flags=re.IGNORECASE)
    if match: # if time is in hours
        i = int(match.group(1)) * 60 # hours to minutes
        if match.group(3):
            i += int(match.group(3)) # add minutes
    else: # if time is in minutes
        i = int(s)
        
    return i


# Convert duration to integer type
wmovies_df['duration'] = duration.apply(parse_duration)
wmovies_df['duration'].isnull().sum()

2

### Save Wikipedia data

In [51]:
# Inspect data
wmovies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6894 entries, 0 to 6935
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   box_office            5449 non-null   float64
 1   budget                4712 non-null   float64
 2   cinematographers      6249 non-null   object
 3   country               6674 non-null   object
 4   director              6894 non-null   object
 5   distributor           6591 non-null   object
 6   editors               6409 non-null   object
 7   languages             6823 non-null   object
 8   composers             6427 non-null   object
 9   producers             6720 non-null   object
 10  production_companies  5297 non-null   object
 11  release_date          6869 non-null   datetime64[ns]
 12  duration              6892 non-null   float64
 13  writers               6710 non-null   object
 14  stars                 6729 non-null   object
 15  imdb_link             6894 non-null   object
 16  title                 6894 non-null   object
 17  url                   6894 non-null   object
 18  year                  6894 non-null   int64
 19  imdb_id               6894 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 1.1+ MB

In [42]:
# Save data
wmovies_pkl_path = os.path.join(data_path, 'wiki_movies.pkl')
wmovies_clean_df.to_pickle(wmovies_pkl_path)
pd.read_pickle(wmovies_pkl_path).head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6894 entries, 0 to 6935
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   box_office            5449 non-null   float64
 1   budget                4712 non-null   float64
 2   cinematographers      6249 non-null   object
 3   country               6674 non-null   object
 4   director              6894 non-null   object
 5   distributor           6591 non-null   object
 6   editors               6409 non-null   object
 7   languages             6823 non-null   object
 8   composers             6427 non-null   object
 9   producers             6720 non-null   object
 10  production_companies  5297 non-null   object
 11  release_date          6869 non-null   datetime64[ns]
 12  duration              6892 non-null   float64
 13  writers               6710 non-null   object
 14  stars                 6729 non-null   object
 15  imdb_link             6894 non-null   object
 16  title                 6894 non-null   object
 17  url                   6894 non-null   object
 18  year                  6894 non-null   int64
 19  imdb_id               6894 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 1.1+ MB

### Inspect Kaggle data

In [43]:
# Inspect data
print(kmovies_df.info())
kmovies_df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

### Drop duplicate rows

The movie data from Kaggle also has `imdb_id` which we can use to find and drop duplicate records.

In [44]:
# Check for duplicated rows
print(kmovies_df.duplicated(subset='imdb_id').sum())
kmovies_df[kmovies_df.duplicated(subset='imdb_id', keep=False)].sort_values('imdb_id').head()

48

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16167,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
38871,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0

There are 3 records that have an `imdb_id` of 0. There may be other records with an invalid `imdb_id` so let's find those first so we can drop them.

In [45]:
# Invalid IMDB IDs
kmovies_df['imdb_id'].count() - kmovies_df['imdb_id'].dropna().str.contains(r'tt\d{7}').sum()

3

In [46]:
# Replace `imdb_id` 0 with NaN
kmovies_clean_df = kmovies_df.copy()
kmovies_clean_df['imdb_id'].replace('0', np.NaN, inplace=True)
kmovies_clean_df['imdb_id'].count() - kmovies_clean_df['imdb_id'].dropna().str.contains(r'tt\d{7}').sum()

0

In [47]:
# Drop duplicate movies
kmovies_clean_df = kmovies_clean_df.drop_duplicates(subset=['imdb_id'])
kmovies_clean_df.duplicated(subset='imdb_id').sum()

0

### Drop columns with mostly missing values

In [48]:
# Check columns where at least half of the values are missing
cols_missing = kmovies_clean_df.isnull().mean()
cols_missing50 = cols_missing[cols_missing >= 0.5]
cols_missing50

belongs_to_collection    0.901226
homepage                 0.828853
tagline                  0.550873
dtype: float64

In [49]:
# Drop these columns and inspect remaining columns
kmovies_clean_df.drop(cols_missing50.index, axis=1, inplace=True)
print(kmovies_clean_df.shape)
kmovies_clean_df.isnull().mean()

(45417, 21)

adult                   0.000000
budget                  0.000000
genres                  0.000000
id                      0.000000
imdb_id                 0.000022
original_language       0.000242
original_title          0.000000
overview                0.020961
popularity              0.000066
poster_path             0.008389
production_companies    0.000066
production_countries    0.000066
release_date            0.001850
revenue                 0.000066
runtime                 0.005681
spoken_languages        0.000066
status                  0.001850
title                   0.000066
video                   0.000066
vote_average            0.000066
vote_count              0.000066
dtype: float64

There are 2 columns containing titles: `original_title` and `title`. This is a little redundant, so we will also be dropping `original_title`.

In [50]:
kmovies_clean_df.drop('original_title', axis=1, inplace=True)
kmovies_clean_df.shape

(45417, 20)

### Inspect data types

In [51]:
# Column data types and sample values
for col in kmovies_clean_df.columns:
    print(col, '(', kmovies_clean_df[col].dtype, ') :', kmovies_clean_df.loc[0, col])

adult ( object ) : False
budget ( object ) : 30000000
genres ( object ) : [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
id ( object ) : 862
imdb_id ( object ) : tt0114709
original_language ( object ) : en
overview ( object ) : Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
popularity ( object ) : 21.946943
poster_path ( object ) : /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies ( object ) : [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries ( object ) : [{'iso_3166_1': 'US', 'name': 'United States of America'}]
release_date ( object ) : 1995-10-30
revenue ( float64 ) : 373554033.0
runtime ( float64 ) : 81.0
spoken_languages ( object ) : [{'iso_639_1': 'en', 'name': 'English'}]
status ( object ) : Released
title ( object ) : Toy Story
video ( object ) : False
vote_average ( float64 ) : 7.7
vote_count ( float64 ) : 5415.0

Columns that need to be recasted:
- `adult` - to boolean
- `video` - to boolean
- `release_date` - to datetime
- `budget` - to numeric
- `id` - to numeric
- `popularity` - to numeric

### Convert `adult` and `video` to boolean type

In [52]:
# Inspect adult values
kmovies_clean_df['adult'].value_counts()

False    45408
True         9
Name: adult, dtype: int64

In [53]:
# Inspect video values
kmovies_clean_df['video'].value_counts()

False    45321
True        93
Name: video, dtype: int64

Both `adult` and `video` are predominantly 1 value, so they will both be dropped since they're not providing much information. But records of `adult` videos will be dropped before dropping these 2 columns.

In [54]:
# Remove adult movies and drop both columns
kmovies_clean_df = kmovies_clean_df.query('adult != "True"').drop(['adult', 'video'], axis=1)
kmovies_clean_df.shape

(45408, 18)

### Convert `release_date` to datetime type

In [55]:
# Recast release date to datetime
kmovies_clean_df['release_date'] = pd.to_datetime(kmovies_clean_df['release_date'])
kmovies_clean_df['release_date']

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45408, dtype: datetime64[ns]

### Convert `budget`, `id`, and `popularity` to numeric

In [56]:
# Recast budget and ID to integer
kmovies_clean_df['budget'] = kmovies_clean_df['budget'].astype(int)
kmovies_clean_df['id'] = kmovies_clean_df['id'].astype(int)

# Recast popularity to float
kmovies_clean_df['popularity'] = kmovies_clean_df['popularity'].astype(float)
kmovies_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45408 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45408 non-null  int64
 1   genres                45408 non-null  object
 2   id                    45408 non-null  int64
 3   imdb_id               45407 non-null  object
 4   original_language     45397 non-null  object
 5   overview              44456 non-null  object
 6   popularity            45405 non-null  float64
 7   poster_path           45027 non-null  object
 8   production_companies  45405 non-null  object
 9   production_countries  45405 non-null  object
 10  release_date          45325 non-null  datetime64[ns]
 11  revenue               45405 non-null  float64
 12  runtime               45150 non-null  float64
 13  spoken_languages      45405 non-null  object
 14  status                45324 non-null  object
 15  title                 45405 non-null  object
 16  vote_average          45405 non-null  float64
 17  vote_count            45405 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(10)
memory usage: 6.6+ MB

### Save Kaggle data

In [57]:
# Inspect data
kmovies_clean_df.head(2)

,budget,genres,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0

In [58]:
# Save data
kmovies_clean_df.to_pickle(data_path + 'kaggle_movies.pkl')
pd.read_pickle(data_path + 'kaggle_movies.pkl').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45408 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45408 non-null  int64
 1   genres                45408 non-null  object
 2   id                    45408 non-null  int64
 3   imdb_id               45407 non-null  object
 4   original_language     45397 non-null  object
 5   overview              44456 non-null  object
 6   popularity            45405 non-null  float64
 7   poster_path           45027 non-null  object
 8   production_companies  45405 non-null  object
 9   production_countries  45405 non-null  object
 10  release_date          45325 non-null  datetime64[ns]
 11  revenue               45405 non-null  float64
 12  runtime               45150 non-null  float64
 13  spoken_languages      45405 non-null  object
 14  status                45324 non-null  object
 15  title                 45405 non-null  object
 16  vote_average          45405 non-null  float64
 17  vote_count            45405 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(10)
memory usage: 6.6+ MB